<%= form_for(@boiler) do |f| %>
  <% if @boiler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boiler.errors.count, "error") %> prohibited this boiler from being saved:</h2>

      <ul>
      <% @boiler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :fuel_source %><br>
    <%= f.text_field :fuel_source %>
  </div>
  <div class="field">
    <%= f.label :draft_type %><br>
    <%= f.text_field :draft_type %>
  </div>
  <div class="field">
    <%= f.label :fluid_segment_in_reference %><br>
    <%= f.text_field :fluid_segment_in_reference %>
  </div>
  <div class="field">
    <%= f.label :fluid_segment_out_reference %><br>
    <%= f.text_field :fluid_segment_out_reference %>
  </div>
  <div class="field">
    <%= f.label :has_bypass %><br>
    <%= f.text_field :has_bypass %>
  </div>
  <div class="field">
    <%= f.label :entering_temperature_design %><br>
    <%= f.text_field :entering_temperature_design %>
  </div>
  <div class="field">
    <%= f.label :leaving_temperature_design %><br>
    <%= f.text_field :leaving_temperature_design %>
  </div>
  <div class="field">
    <%= f.label :capacity_rated %><br>
    <%= f.text_field :capacity_rated %>
  </div>
  <div class="field">
    <%= f.label :afue %><br>
    <%= f.text_field :afue %>
  </div>
  <div class="field">
    <%= f.label :combustion_efficiency %><br>
    <%= f.text_field :combustion_efficiency %>
  </div>
  <div class="field">
    <%= f.label :thermal_efficiency %><br>
    <%= f.text_field :thermal_efficiency %>
  </div>
  <div class="field">
    <%= f.label :hir_f_plr_curve_reference %><br>
    <%= f.text_field :hir_f_plr_curve_reference %>
  </div>
  <div class="field">
    <%= f.label :eir %><br>
    <%= f.text_field :eir %>
  </div>
  <div class="field">
    <%= f.label :fuel_full_load %><br>
    <%= f.text_field :fuel_full_load %>
  </div>
  <div class="field">
    <%= f.label :heat_loss %><br>
    <%= f.text_field :heat_loss %>
  </div>
  <div class="field">
    <%= f.label :unload_ratio_minimum %><br>
    <%= f.text_field :unload_ratio_minimum %>
  </div>
  <div class="field">
    <%= f.label :draft_fan_horse_power %><br>
    <%= f.text_field :draft_fan_horse_power %>
  </div>
  <div class="field">
    <%= f.label :parasitic_load %><br>
    <%= f.text_field :parasitic_load %>
  </div>
  <div class="field">
    <%= f.label :water_flow_capacity %><br>
    <%= f.text_field :water_flow_capacity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
