<h1>Listing boilers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boilers.each do |boiler| %>
      <tr>
        <td><%= boiler.name %></td>
        <td><%= link_to 'Show', boiler %></td>
        <td><%= link_to 'Edit', edit_boiler_path(boiler) %></td>
        <td><%= link_to 'Destroy', boiler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boiler', new_boiler_path %>
