<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boiler.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @boiler.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @boiler.type %>
</p>

<p>
  <strong>Fuel source:</strong>
  <%= @boiler.fuel_source %>
</p>

<p>
  <strong>Draft type:</strong>
  <%= @boiler.draft_type %>
</p>

<p>
  <strong>Fluid segment in reference:</strong>
  <%= @boiler.fluid_segment_in_reference %>
</p>

<p>
  <strong>Fluid segment out reference:</strong>
  <%= @boiler.fluid_segment_out_reference %>
</p>

<p>
  <strong>Has bypass:</strong>
  <%= @boiler.has_bypass %>
</p>

<p>
  <strong>Entering temperature design:</strong>
  <%= @boiler.entering_temperature_design %>
</p>

<p>
  <strong>Leaving temperature design:</strong>
  <%= @boiler.leaving_temperature_design %>
</p>

<p>
  <strong>Capacity rated:</strong>
  <%= @boiler.capacity_rated %>
</p>

<p>
  <strong>Afue:</strong>
  <%= @boiler.afue %>
</p>

<p>
  <strong>Combustion efficiency:</strong>
  <%= @boiler.combustion_efficiency %>
</p>

<p>
  <strong>Thermal efficiency:</strong>
  <%= @boiler.thermal_efficiency %>
</p>

<p>
  <strong>Hir f plr curve reference:</strong>
  <%= @boiler.hir_f_plr_curve_reference %>
</p>

<p>
  <strong>Eir:</strong>
  <%= @boiler.eir %>
</p>

<p>
  <strong>Fuel full load:</strong>
  <%= @boiler.fuel_full_load %>
</p>

<p>
  <strong>Heat loss:</strong>
  <%= @boiler.heat_loss %>
</p>

<p>
  <strong>Unload ratio minimum:</strong>
  <%= @boiler.unload_ratio_minimum %>
</p>

<p>
  <strong>Draft fan horse power:</strong>
  <%= @boiler.draft_fan_horse_power %>
</p>

<p>
  <strong>Parasitic load:</strong>
  <%= @boiler.parasitic_load %>
</p>

<p>
  <strong>Water flow capacity:</strong>
  <%= @boiler.water_flow_capacity %>
</p>

<%= link_to 'Edit', edit_boiler_path(@boiler) %> |
<%= link_to 'Back', boilers_path %>
