<h1>Listing simulations</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>CBECC Return Code</th>
    <th>CBECC Return Description</th>
    <th>Action</th>
  </tr>
  </thead>

  <% @simulations.each do |simulation| %>
      <tr>
        <td><%= link_to simulation.id, simulation %></td>
        <td><%= simulation.status %></td>
        <td><%= simulation.cbecc_code %></td>
        <td><%= simulation.cbecc_code_description %></td>
        <td><%= link_to 'Delete', simulation, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br>


<div ng-app="queue">
  <div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>

