<%= form_for(@external_shading_object) do |f| %>
  <% if @external_shading_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@external_shading_object.errors.count, "error") %> prohibited this external_shading_object from being saved:</h2>

      <ul>
      <% @external_shading_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :transmittance_schedule_reference %><br>
    <%= f.text_field :transmittance_schedule_reference %>
  </div>
  <div class="field">
    <%= f.label :solar_reflectance %><br>
    <%= f.text_field :solar_reflectance %>
  </div>
  <div class="field">
    <%= f.label :visible_reflectance %><br>
    <%= f.text_field :visible_reflectance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
