<%= form_for(@construct_assembly) do |f| %>
  <% if @construct_assembly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@construct_assembly.errors.count, "error") %> prohibited this construct_assembly from being saved:</h2>

      <ul>
      <% @construct_assembly.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :compatible_surface_type %><br>
    <%= f.text_field :compatible_surface_type %>
  </div>
  <div class="field">
    <%= f.label :exterior_solar_absorptance %><br>
    <%= f.text_field :exterior_solar_absorptance %>
  </div>
  <div class="field">
    <%= f.label :exterior_thermal_absorptance %><br>
    <%= f.text_field :exterior_thermal_absorptance %>
  </div>
  <div class="field">
    <%= f.label :exterior_visible_absorptance %><br>
    <%= f.text_field :exterior_visible_absorptance %>
  </div>
  <div class="field">
    <%= f.label :interior_solar_absorptance %><br>
    <%= f.text_field :interior_solar_absorptance %>
  </div>
  <div class="field">
    <%= f.label :interior_thermal_absorptance %><br>
    <%= f.text_field :interior_thermal_absorptance %>
  </div>
  <div class="field">
    <%= f.label :interior_visible_absorptance %><br>
    <%= f.text_field :interior_visible_absorptance %>
  </div>
  <div class="field">
    <%= f.label :slab_type %><br>
    <%= f.text_field :slab_type %>
  </div>
  <div class="field">
    <%= f.label :slab_insulation_orientation %><br>
    <%= f.text_field :slab_insulation_orientation %>
  </div>
  <div class="field">
    <%= f.label :slab_insulation_thermal_resistance %><br>
    <%= f.text_field :slab_insulation_thermal_resistance %>
  </div>
  <div class="field">
    <%= f.label :field_applied_coating %><br>
    <%= f.text_field :field_applied_coating %>
  </div>
  <div class="field">
    <%= f.label :crrc_initial_reflectance %><br>
    <%= f.text_field :crrc_initial_reflectance %>
  </div>
  <div class="field">
    <%= f.label :crrc_aged_reflectance %><br>
    <%= f.text_field :crrc_aged_reflectance %>
  </div>
  <div class="field">
    <%= f.label :crrc_initial_emittance %><br>
    <%= f.text_field :crrc_initial_emittance %>
  </div>
  <div class="field">
    <%= f.label :crrc_aged_emittance %><br>
    <%= f.text_field :crrc_aged_emittance %>
  </div>
  <div class="field">
    <%= f.label :crrc_initial_sri %><br>
    <%= f.text_field :crrc_initial_sri %>
  </div>
  <div class="field">
    <%= f.label :crrc_aged_sri %><br>
    <%= f.text_field :crrc_aged_sri %>
  </div>
  <div class="field">
    <%= f.label :crrc_product_id %><br>
    <%= f.text_field :crrc_product_id %>
  </div>
  <div class="field">
    <%= f.label :material_reference %><br>
    <%= f.text_field :material_reference %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
