<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @construct_assembly.name %>
</p>

<p>
  <strong>Compatible surface type:</strong>
  <%= @construct_assembly.compatible_surface_type %>
</p>

<p>
  <strong>Exterior solar absorptance:</strong>
  <%= @construct_assembly.exterior_solar_absorptance %>
</p>

<p>
  <strong>Exterior thermal absorptance:</strong>
  <%= @construct_assembly.exterior_thermal_absorptance %>
</p>

<p>
  <strong>Exterior visible absorptance:</strong>
  <%= @construct_assembly.exterior_visible_absorptance %>
</p>

<p>
  <strong>Interior solar absorptance:</strong>
  <%= @construct_assembly.interior_solar_absorptance %>
</p>

<p>
  <strong>Interior thermal absorptance:</strong>
  <%= @construct_assembly.interior_thermal_absorptance %>
</p>

<p>
  <strong>Interior visible absorptance:</strong>
  <%= @construct_assembly.interior_visible_absorptance %>
</p>

<p>
  <strong>Slab type:</strong>
  <%= @construct_assembly.slab_type %>
</p>

<p>
  <strong>Slab insulation orientation:</strong>
  <%= @construct_assembly.slab_insulation_orientation %>
</p>

<p>
  <strong>Slab insulation thermal resistance:</strong>
  <%= @construct_assembly.slab_insulation_thermal_resistance %>
</p>

<p>
  <strong>Field applied coating:</strong>
  <%= @construct_assembly.field_applied_coating %>
</p>

<p>
  <strong>Crrc initial reflectance:</strong>
  <%= @construct_assembly.crrc_initial_reflectance %>
</p>

<p>
  <strong>Crrc aged reflectance:</strong>
  <%= @construct_assembly.crrc_aged_reflectance %>
</p>

<p>
  <strong>Crrc initial emittance:</strong>
  <%= @construct_assembly.crrc_initial_emittance %>
</p>

<p>
  <strong>Crrc aged emittance:</strong>
  <%= @construct_assembly.crrc_aged_emittance %>
</p>

<p>
  <strong>Crrc initial sri:</strong>
  <%= @construct_assembly.crrc_initial_sri %>
</p>

<p>
  <strong>Crrc aged sri:</strong>
  <%= @construct_assembly.crrc_aged_sri %>
</p>

<p>
  <strong>Crrc product:</strong>
  <%= @construct_assembly.crrc_product_id %>
</p>

<p>
  <strong>Material reference:</strong>
  <%= @construct_assembly.material_reference %>
</p>

<%= link_to 'Edit', edit_construct_assembly_path(@construct_assembly) %> |
<%= link_to 'Back', construct_assemblies_path %>
