<%= form_for(@door_construction) do |f| %>
  <% if @door_construction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@door_construction.errors.count, "error") %> prohibited this door_construction from being saved:</h2>

      <ul>
      <% @door_construction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :certification_method %><br>
    <%= f.text_field :certification_method %>
  </div>
  <div class="field">
    <%= f.label :u_factor %><br>
    <%= f.text_field :u_factor %>
  </div>
  <div class="field">
    <%= f.label :open %><br>
    <%= f.text_field :open %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
