<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interior_floor.name %>
</p>

<p>
  <strong>Adjacent space reference:</strong>
  <%= @interior_floor.adjacent_space_reference %>
</p>

<p>
  <strong>Construct assembly reference:</strong>
  <%= @interior_floor.construct_assembly_reference %>
</p>

<p>
  <strong>Area:</strong>
  <%= @interior_floor.area %>
</p>

<%= link_to 'Edit', edit_interior_floor_path(@interior_floor) %> |
<%= link_to 'Back', interior_floors_path %>
