<%= form_for(@interior_wall) do |f| %>
  <% if @interior_wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interior_wall.errors.count, "error") %> prohibited this interior_wall from being saved:</h2>

      <ul>
      <% @interior_wall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :adjacent_space_reference %><br>
    <%= f.text_field :adjacent_space_reference %>
  </div>
  <div class="field">
    <%= f.label :construct_assembly_reference %><br>
    <%= f.text_field :construct_assembly_reference %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
