<h1>Listing interior_walls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Adjacent space reference</th>
      <th>Construct assembly reference</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interior_walls.each do |interior_wall| %>
      <tr>
        <td><%= interior_wall.name %></td>
        <td><%= interior_wall.status %></td>
        <td><%= interior_wall.adjacent_space_reference %></td>
        <td><%= interior_wall.construct_assembly_reference %></td>
        <td><%= interior_wall.area %></td>
        <td><%= link_to 'Show', interior_wall %></td>
        <td><%= link_to 'Edit', edit_interior_wall_path(interior_wall) %></td>
        <td><%= link_to 'Destroy', interior_wall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interior wall', new_interior_wall_path %>
