<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interior_wall.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @interior_wall.status %>
</p>

<p>
  <strong>Adjacent space reference:</strong>
  <%= @interior_wall.adjacent_space_reference %>
</p>

<p>
  <strong>Construct assembly reference:</strong>
  <%= @interior_wall.construct_assembly_reference %>
</p>

<p>
  <strong>Area:</strong>
  <%= @interior_wall.area %>
</p>

<p>
  <strong>Exterior solar absorptance:</strong>
  <%= @interior_wall.exterior_solar_absorptance %>
</p>

<p>
  <strong>Exterior thermal absorptance:</strong>
  <%= @interior_wall.exterior_thermal_absorptance %>
</p>

<p>
  <strong>Exterior visible absorptance:</strong>
  <%= @interior_wall.exterior_visible_absorptance %>
</p>

<p>
  <strong>Interior solar absorptance:</strong>
  <%= @interior_wall.interior_solar_absorptance %>
</p>

<p>
  <strong>Interior thermal absorptance:</strong>
  <%= @interior_wall.interior_thermal_absorptance %>
</p>

<p>
  <strong>Interior visible absorptance:</strong>
  <%= @interior_wall.interior_visible_absorptance %>
</p>

<%= link_to 'Edit', edit_interior_wall_path(@interior_wall) %> |
<%= link_to 'Back', interior_walls_path %>
