<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interior_wall.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @interior_wall.status %>
</p>

<p>
  <strong>Adjacent space reference:</strong>
  <%= @interior_wall.adjacent_space_reference %>
</p>

<p>
  <strong>Construct assembly reference:</strong>
  <%= @interior_wall.construct_assembly_reference %>
</p>

<p>
  <strong>Area:</strong>
  <%= @interior_wall.area %>
</p>

<%= link_to 'Edit', edit_interior_wall_path(@interior_wall) %> |
<%= link_to 'Back', interior_walls_path %>
