<h1>Listing air_systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @air_systems.each do |air_system| %>
      <tr>
        <td><%= air_system.name %></td>
        <td><%= link_to 'Show', air_system %></td>
        <td><%= link_to 'Edit', edit_air_system_path(air_system) %></td>
        <td><%= link_to 'Destroy', air_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Air system', new_air_system_path %>
