<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @air_system.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @air_system.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @air_system.type %>
</p>

<p>
  <strong>Sub type:</strong>
  <%= @air_system.sub_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @air_system.description %>
</p>

<p>
  <strong>Control system type:</strong>
  <%= @air_system.control_system_type %>
</p>

<p>
  <strong>Control zone reference:</strong>
  <%= @air_system.control_zone_reference %>
</p>

<p>
  <strong>Night cycle fan control:</strong>
  <%= @air_system.night_cycle_fan_control %>
</p>

<p>
  <strong>Reheat control method:</strong>
  <%= @air_system.reheat_control_method %>
</p>

<p>
  <strong>Count:</strong>
  <%= @air_system.count %>
</p>

<p>
  <strong>Fan position:</strong>
  <%= @air_system.fan_position %>
</p>

<p>
  <strong>Cooling design supply air temperature:</strong>
  <%= @air_system.cooling_design_supply_air_temperature %>
</p>

<p>
  <strong>Heating design supply air temperature:</strong>
  <%= @air_system.heating_design_supply_air_temperature %>
</p>

<p>
  <strong>Design air flow minimum:</strong>
  <%= @air_system.design_air_flow_minimum %>
</p>

<p>
  <strong>Design preheat temperature:</strong>
  <%= @air_system.design_preheat_temperature %>
</p>

<p>
  <strong>Design preheat humidity ratio:</strong>
  <%= @air_system.design_preheat_humidity_ratio %>
</p>

<p>
  <strong>Design precool temperature:</strong>
  <%= @air_system.design_precool_temperature %>
</p>

<p>
  <strong>Design precool humidity ratio:</strong>
  <%= @air_system.design_precool_humidity_ratio %>
</p>

<p>
  <strong>Sizing option:</strong>
  <%= @air_system.sizing_option %>
</p>

<p>
  <strong>Cooling all outside air:</strong>
  <%= @air_system.cooling_all_outside_air %>
</p>

<p>
  <strong>Heating all outside air:</strong>
  <%= @air_system.heating_all_outside_air %>
</p>

<p>
  <strong>Cooling design humidity ratio:</strong>
  <%= @air_system.cooling_design_humidity_ratio %>
</p>

<p>
  <strong>Heating design humidity ratio:</strong>
  <%= @air_system.heating_design_humidity_ratio %>
</p>

<p>
  <strong>Cooling control:</strong>
  <%= @air_system.cooling_control %>
</p>

<p>
  <strong>Cooling fixed supply temperature:</strong>
  <%= @air_system.cooling_fixed_supply_temperature %>
</p>

<p>
  <strong>Cooling setpoint schedule reference:</strong>
  <%= @air_system.cooling_setpoint_schedule_reference %>
</p>

<p>
  <strong>Cool reset supply high:</strong>
  <%= @air_system.cool_reset_supply_high %>
</p>

<p>
  <strong>Cool reset supply low:</strong>
  <%= @air_system.cool_reset_supply_low %>
</p>

<p>
  <strong>Cool reset outdoor low:</strong>
  <%= @air_system.cool_reset_outdoor_low %>
</p>

<p>
  <strong>Cool reset outdoor high:</strong>
  <%= @air_system.cool_reset_outdoor_high %>
</p>

<p>
  <strong>Exhaust system type:</strong>
  <%= @air_system.exhaust_system_type %>
</p>

<p>
  <strong>Exhaust operation mode:</strong>
  <%= @air_system.exhaust_operation_mode %>
</p>

<p>
  <strong>Exhaust control method:</strong>
  <%= @air_system.exhaust_control_method %>
</p>

<p>
  <strong>Air distribution type:</strong>
  <%= @air_system.air_distribution_type %>
</p>

<%= link_to 'Edit', edit_air_system_path(@air_system) %> |
<%= link_to 'Back', air_systems_path %>
