<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exterior_wall.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @exterior_wall.status %>
</p>

<p>
  <strong>Construct assembly reference:</strong>
  <%= @exterior_wall.construct_assembly_reference %>
</p>

<p>
  <strong>Area:</strong>
  <%= @exterior_wall.area %>
</p>

<p>
  <strong>Display perimeter:</strong>
  <%= @exterior_wall.display_perimeter %>
</p>

<p>
  <strong>Azimuth:</strong>
  <%= @exterior_wall.azimuth %>
</p>

<p>
  <strong>Exterior solar absorptance:</strong>
  <%= @exterior_wall.exterior_solar_absorptance %>
</p>

<p>
  <strong>Exterior thermal absorptance:</strong>
  <%= @exterior_wall.exterior_thermal_absorptance %>
</p>

<p>
  <strong>Exterior visible absorptance:</strong>
  <%= @exterior_wall.exterior_visible_absorptance %>
</p>

<p>
  <strong>Interior solar absorptance:</strong>
  <%= @exterior_wall.interior_solar_absorptance %>
</p>

<p>
  <strong>Interior thermal absorptance:</strong>
  <%= @exterior_wall.interior_thermal_absorptance %>
</p>

<p>
  <strong>Interior visible absorptance:</strong>
  <%= @exterior_wall.interior_visible_absorptance %>
</p>

<%= link_to 'Edit', edit_exterior_wall_path(@exterior_wall) %> |
<%= link_to 'Back', exterior_walls_path %>
