<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exterior_wall.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @exterior_wall.status %>
</p>

<p>
  <strong>Construct assembly reference:</strong>
  <%= @exterior_wall.construct_assembly_reference %>
</p>

<p>
  <strong>Area:</strong>
  <%= @exterior_wall.area %>
</p>

<p>
  <strong>Azimuth:</strong>
  <%= @exterior_wall.azimuth %>
</p>

<%= link_to 'Edit', edit_exterior_wall_path(@exterior_wall) %> |
<%= link_to 'Back', exterior_walls_path %>
