<%= form_for(@roof) do |f| %>
  <% if @roof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roof.errors.count, "error") %> prohibited this roof from being saved:</h2>

      <ul>
      <% @roof.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :construct_assembly_reference %><br>
    <%= f.text_field :construct_assembly_reference %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :azimuth %><br>
    <%= f.text_field :azimuth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
