<%= form_for(@roof) do |f| %>
  <% if @roof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roof.errors.count, "error") %> prohibited this roof from being saved:</h2>

      <ul>
      <% @roof.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :construct_assembly_reference %><br>
    <%= f.text_field :construct_assembly_reference %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :azimuth %><br>
    <%= f.text_field :azimuth %>
  </div>
  <div class="field">
    <%= f.label :tilt %><br>
    <%= f.text_field :tilt %>
  </div>
  <div class="field">
    <%= f.label :interior_solar_absorptance %><br>
    <%= f.text_field :interior_solar_absorptance %>
  </div>
  <div class="field">
    <%= f.label :interior_thermal_absorptance %><br>
    <%= f.text_field :interior_thermal_absorptance %>
  </div>
  <div class="field">
    <%= f.label :interior_visible_absorptance %><br>
    <%= f.text_field :interior_visible_absorptance %>
  </div>
  <div class="field">
    <%= f.label :field_applied_coating %><br>
    <%= f.text_field :field_applied_coating %>
  </div>
  <div class="field">
    <%= f.label :crrc_initial_reflectance %><br>
    <%= f.text_field :crrc_initial_reflectance %>
  </div>
  <div class="field">
    <%= f.label :crrc_aged_reflectance %><br>
    <%= f.text_field :crrc_aged_reflectance %>
  </div>
  <div class="field">
    <%= f.label :crrc_initial_emittance %><br>
    <%= f.text_field :crrc_initial_emittance %>
  </div>
  <div class="field">
    <%= f.label :crrc_aged_emittance %><br>
    <%= f.text_field :crrc_aged_emittance %>
  </div>
  <div class="field">
    <%= f.label :crrc_initial_sri %><br>
    <%= f.text_field :crrc_initial_sri %>
  </div>
  <div class="field">
    <%= f.label :crrc_aged_sri %><br>
    <%= f.text_field :crrc_aged_sri %>
  </div>
  <div class="field">
    <%= f.label :crrc_product_id %><br>
    <%= f.text_field :crrc_product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
