<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roof.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @roof.status %>
</p>

<p>
  <strong>Construct assembly reference:</strong>
  <%= @roof.construct_assembly_reference %>
</p>

<p>
  <strong>Area:</strong>
  <%= @roof.area %>
</p>

<p>
  <strong>Azimuth:</strong>
  <%= @roof.azimuth %>
</p>

<p>
  <strong>Tilt:</strong>
  <%= @roof.tilt %>
</p>

<p>
  <strong>Interior solar absorptance:</strong>
  <%= @roof.interior_solar_absorptance %>
</p>

<p>
  <strong>Interior thermal absorptance:</strong>
  <%= @roof.interior_thermal_absorptance %>
</p>

<p>
  <strong>Interior visible absorptance:</strong>
  <%= @roof.interior_visible_absorptance %>
</p>

<p>
  <strong>Field applied coating:</strong>
  <%= @roof.field_applied_coating %>
</p>

<p>
  <strong>Crrc initial reflectance:</strong>
  <%= @roof.crrc_initial_reflectance %>
</p>

<p>
  <strong>Crrc aged reflectance:</strong>
  <%= @roof.crrc_aged_reflectance %>
</p>

<p>
  <strong>Crrc initial emittance:</strong>
  <%= @roof.crrc_initial_emittance %>
</p>

<p>
  <strong>Crrc aged emittance:</strong>
  <%= @roof.crrc_aged_emittance %>
</p>

<p>
  <strong>Crrc initial sri:</strong>
  <%= @roof.crrc_initial_sri %>
</p>

<p>
  <strong>Crrc aged sri:</strong>
  <%= @roof.crrc_aged_sri %>
</p>

<p>
  <strong>Crrc product:</strong>
  <%= @roof.crrc_product_id %>
</p>

<%= link_to 'Edit', edit_roof_path(@roof) %> |
<%= link_to 'Back', roofs_path %>
