<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @curve_double_quadratic.name %>
</p>

<p>
  <strong>Curve coefficient1:</strong>
  <%= @curve_double_quadratic.curve_coefficient1 %>
</p>

<p>
  <strong>Curve coefficient2:</strong>
  <%= @curve_double_quadratic.curve_coefficient2 %>
</p>

<p>
  <strong>Curve coefficient3:</strong>
  <%= @curve_double_quadratic.curve_coefficient3 %>
</p>

<p>
  <strong>Curve coefficient4:</strong>
  <%= @curve_double_quadratic.curve_coefficient4 %>
</p>

<p>
  <strong>Curve coefficient5:</strong>
  <%= @curve_double_quadratic.curve_coefficient5 %>
</p>

<p>
  <strong>Curve coefficient6:</strong>
  <%= @curve_double_quadratic.curve_coefficient6 %>
</p>

<p>
  <strong>Curve maximum out:</strong>
  <%= @curve_double_quadratic.curve_maximum_out %>
</p>

<p>
  <strong>Curve maximum var1:</strong>
  <%= @curve_double_quadratic.curve_maximum_var1 %>
</p>

<p>
  <strong>Curve maximum var2:</strong>
  <%= @curve_double_quadratic.curve_maximum_var2 %>
</p>

<p>
  <strong>Curve minimum out:</strong>
  <%= @curve_double_quadratic.curve_minimum_out %>
</p>

<p>
  <strong>Curve minimum var1:</strong>
  <%= @curve_double_quadratic.curve_minimum_var1 %>
</p>

<p>
  <strong>Curve minimum var2:</strong>
  <%= @curve_double_quadratic.curve_minimum_var2 %>
</p>

<%= link_to 'Edit', edit_curve_double_quadratic_path(@curve_double_quadratic) %> |
<%= link_to 'Back', curve_double_quadratics_path %>
