<%= form_for(@water_heater) do |f| %>
  <% if @water_heater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water_heater.errors.count, "error") %> prohibited this water_heater from being saved:</h2>

      <ul>
      <% @water_heater.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.text_field :count %>
  </div>
  <div class="field">
    <%= f.label :fluid_segment_out_reference %><br>
    <%= f.text_field :fluid_segment_out_reference %>
  </div>
  <div class="field">
    <%= f.label :fluid_segment_makeup_reference %><br>
    <%= f.text_field :fluid_segment_makeup_reference %>
  </div>
  <div class="field">
    <%= f.label :storage_capacity %><br>
    <%= f.text_field :storage_capacity %>
  </div>
  <div class="field">
    <%= f.label :ef %><br>
    <%= f.text_field :ef %>
  </div>
  <div class="field">
    <%= f.label :recovery_efficiency %><br>
    <%= f.text_field :recovery_efficiency %>
  </div>
  <div class="field">
    <%= f.label :thermal_efficiency %><br>
    <%= f.text_field :thermal_efficiency %>
  </div>
  <div class="field">
    <%= f.label :hir_f_plr_curve_reference %><br>
    <%= f.text_field :hir_f_plr_curve_reference %>
  </div>
  <div class="field">
    <%= f.label :fuel_source %><br>
    <%= f.text_field :fuel_source %>
  </div>
  <div class="field">
    <%= f.label :off_cycle_fuel_source %><br>
    <%= f.text_field :off_cycle_fuel_source %>
  </div>
  <div class="field">
    <%= f.label :off_cycle_parasitic_losses %><br>
    <%= f.text_field :off_cycle_parasitic_losses %>
  </div>
  <div class="field">
    <%= f.label :on_cycle_fuel_source %><br>
    <%= f.text_field :on_cycle_fuel_source %>
  </div>
  <div class="field">
    <%= f.label :on_cycle_parasitic_losses %><br>
    <%= f.text_field :on_cycle_parasitic_losses %>
  </div>
  <div class="field">
    <%= f.label :tank_off_cycle_loss_coef %><br>
    <%= f.text_field :tank_off_cycle_loss_coef %>
  </div>
  <div class="field">
    <%= f.label :capacity_rated %><br>
    <%= f.text_field :capacity_rated %>
  </div>
  <div class="field">
    <%= f.label :minimum_capacity %><br>
    <%= f.text_field :minimum_capacity %>
  </div>
  <div class="field">
    <%= f.label :standby_loss_fraction %><br>
    <%= f.text_field :standby_loss_fraction %>
  </div>
  <div class="field">
    <%= f.label :electrical_ignition %><br>
    <%= f.text_field :electrical_ignition %>
  </div>
  <div class="field">
    <%= f.label :draft_fan_power %><br>
    <%= f.text_field :draft_fan_power %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
