<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @water_heater.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @water_heater.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @water_heater.type %>
</p>

<p>
  <strong>Count:</strong>
  <%= @water_heater.count %>
</p>

<p>
  <strong>Fluid segment out reference:</strong>
  <%= @water_heater.fluid_segment_out_reference %>
</p>

<p>
  <strong>Fluid segment makeup reference:</strong>
  <%= @water_heater.fluid_segment_makeup_reference %>
</p>

<p>
  <strong>Storage capacity:</strong>
  <%= @water_heater.storage_capacity %>
</p>

<p>
  <strong>Ef:</strong>
  <%= @water_heater.ef %>
</p>

<p>
  <strong>Recovery efficiency:</strong>
  <%= @water_heater.recovery_efficiency %>
</p>

<p>
  <strong>Thermal efficiency:</strong>
  <%= @water_heater.thermal_efficiency %>
</p>

<p>
  <strong>Hir f plr curve reference:</strong>
  <%= @water_heater.hir_f_plr_curve_reference %>
</p>

<p>
  <strong>Fuel source:</strong>
  <%= @water_heater.fuel_source %>
</p>

<p>
  <strong>Off cycle fuel source:</strong>
  <%= @water_heater.off_cycle_fuel_source %>
</p>

<p>
  <strong>Off cycle parasitic losses:</strong>
  <%= @water_heater.off_cycle_parasitic_losses %>
</p>

<p>
  <strong>On cycle fuel source:</strong>
  <%= @water_heater.on_cycle_fuel_source %>
</p>

<p>
  <strong>On cycle parasitic losses:</strong>
  <%= @water_heater.on_cycle_parasitic_losses %>
</p>

<p>
  <strong>Tank off cycle loss coef:</strong>
  <%= @water_heater.tank_off_cycle_loss_coef %>
</p>

<p>
  <strong>Capacity rated:</strong>
  <%= @water_heater.capacity_rated %>
</p>

<p>
  <strong>Minimum capacity:</strong>
  <%= @water_heater.minimum_capacity %>
</p>

<p>
  <strong>Standby loss fraction:</strong>
  <%= @water_heater.standby_loss_fraction %>
</p>

<p>
  <strong>Electrical ignition:</strong>
  <%= @water_heater.electrical_ignition %>
</p>

<p>
  <strong>Draft fan power:</strong>
  <%= @water_heater.draft_fan_power %>
</p>

<%= link_to 'Edit', edit_water_heater_path(@water_heater) %> |
<%= link_to 'Back', water_heaters_path %>
