<%= form_for(@interior_lighting_system) do |f| %>
  <% if @interior_lighting_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interior_lighting_system.errors.count, "error") %> prohibited this interior_lighting_system from being saved:</h2>

      <ul>
      <% @interior_lighting_system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :parent_space_function %><br>
    <%= f.text_field :parent_space_function %>
  </div>
  <div class="field">
    <%= f.label :schedule_reference %><br>
    <%= f.text_field :schedule_reference %>
  </div>
  <div class="field">
    <%= f.label :power_regulated %><br>
    <%= f.text_field :power_regulated %>
  </div>
  <div class="field">
    <%= f.label :non_regulated_exclusion %><br>
    <%= f.text_field :non_regulated_exclusion %>
  </div>
  <div class="field">
    <%= f.label :luminaire_reference %><br>
    <%= f.text_field :luminaire_reference %>
  </div>
  <div class="field">
    <%= f.label :luminaire_count %><br>
    <%= f.text_field :luminaire_count %>
  </div>
  <div class="field">
    <%= f.label :area_category_allowance_type %><br>
    <%= f.text_field :area_category_allowance_type %>
  </div>
  <div class="field">
    <%= f.label :allowance_length %><br>
    <%= f.text_field :allowance_length %>
  </div>
  <div class="field">
    <%= f.label :allowance_area %><br>
    <%= f.text_field :allowance_area %>
  </div>
  <div class="field">
    <%= f.label :tailored_method_allowance_type %><br>
    <%= f.text_field :tailored_method_allowance_type %>
  </div>
  <div class="field">
    <%= f.label :power_adjustment_factor_credit_type %><br>
    <%= f.text_field :power_adjustment_factor_credit_type %>
  </div>
  <div class="field">
    <%= f.label :interior_lighting_specification_method %><br>
    <%= f.text_field :interior_lighting_specification_method %>
  </div>
  <div class="field">
    <%= f.label :luminaire_mounting_height %><br>
    <%= f.text_field :luminaire_mounting_height %>
  </div>
  <div class="field">
    <%= f.label :work_plane_height %><br>
    <%= f.text_field :work_plane_height %>
  </div>
  <div class="field">
    <%= f.label :daylit_area_type %><br>
    <%= f.text_field :daylit_area_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
