<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interior_lighting_system.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @interior_lighting_system.status %>
</p>

<p>
  <strong>Parent space function:</strong>
  <%= @interior_lighting_system.parent_space_function %>
</p>

<p>
  <strong>Schedule reference:</strong>
  <%= @interior_lighting_system.schedule_reference %>
</p>

<p>
  <strong>Power regulated:</strong>
  <%= @interior_lighting_system.power_regulated %>
</p>

<p>
  <strong>Non regulated exclusion:</strong>
  <%= @interior_lighting_system.non_regulated_exclusion %>
</p>

<p>
  <strong>Luminaire reference:</strong>
  <%= @interior_lighting_system.luminaire_reference %>
</p>

<p>
  <strong>Luminaire count:</strong>
  <%= @interior_lighting_system.luminaire_count %>
</p>

<p>
  <strong>Area category allowance type:</strong>
  <%= @interior_lighting_system.area_category_allowance_type %>
</p>

<p>
  <strong>Allowance length:</strong>
  <%= @interior_lighting_system.allowance_length %>
</p>

<p>
  <strong>Allowance area:</strong>
  <%= @interior_lighting_system.allowance_area %>
</p>

<p>
  <strong>Tailored method allowance type:</strong>
  <%= @interior_lighting_system.tailored_method_allowance_type %>
</p>

<p>
  <strong>Power adjustment factor credit type:</strong>
  <%= @interior_lighting_system.power_adjustment_factor_credit_type %>
</p>

<p>
  <strong>Interior lighting specification method:</strong>
  <%= @interior_lighting_system.interior_lighting_specification_method %>
</p>

<p>
  <strong>Luminaire mounting height:</strong>
  <%= @interior_lighting_system.luminaire_mounting_height %>
</p>

<p>
  <strong>Work plane height:</strong>
  <%= @interior_lighting_system.work_plane_height %>
</p>

<p>
  <strong>Daylit area type:</strong>
  <%= @interior_lighting_system.daylit_area_type %>
</p>

<%= link_to 'Edit', edit_interior_lighting_system_path(@interior_lighting_system) %> |
<%= link_to 'Back', interior_lighting_systems_path %>
