<%= form_for(@thermal_zone) do |f| %>
  <% if @thermal_zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thermal_zone.errors.count, "error") %> prohibited this thermal_zone from being saved:</h2>

      <ul>
      <% @thermal_zone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :multiplier %><br>
    <%= f.text_field :multiplier %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :supply_plenum_zone_reference %><br>
    <%= f.text_field :supply_plenum_zone_reference %>
  </div>
  <div class="field">
    <%= f.label :return_plenum_zone_reference %><br>
    <%= f.text_field :return_plenum_zone_reference %>
  </div>
  <div class="field">
    <%= f.label :hvac_zone_count %><br>
    <%= f.text_field :hvac_zone_count %>
  </div>
  <div class="field">
    <%= f.label :primary_air_conditioning_system_reference %><br>
    <%= f.text_field :primary_air_conditioning_system_reference %>
  </div>
  <div class="field">
    <%= f.label :ventilation_system_reference %><br>
    <%= f.text_field :ventilation_system_reference %>
  </div>
  <div class="field">
    <%= f.label :cooling_design_supply_air_temperature %><br>
    <%= f.text_field :cooling_design_supply_air_temperature %>
  </div>
  <div class="field">
    <%= f.label :cooling_design_supply_air_temperature_difference %><br>
    <%= f.text_field :cooling_design_supply_air_temperature_difference %>
  </div>
  <div class="field">
    <%= f.label :cooling_design_sizing_factor %><br>
    <%= f.text_field :cooling_design_sizing_factor %>
  </div>
  <div class="field">
    <%= f.label :heating_design_supply_air_temperature %><br>
    <%= f.text_field :heating_design_supply_air_temperature %>
  </div>
  <div class="field">
    <%= f.label :heating_design_supply_air_temperature_difference %><br>
    <%= f.text_field :heating_design_supply_air_temperature_difference %>
  </div>
  <div class="field">
    <%= f.label :heating_design_sizing_factor %><br>
    <%= f.text_field :heating_design_sizing_factor %>
  </div>
  <div class="field">
    <%= f.label :heating_design_maximum_flow_fraction %><br>
    <%= f.text_field :heating_design_maximum_flow_fraction %>
  </div>
  <div class="field">
    <%= f.label :ventilation_source %><br>
    <%= f.text_field :ventilation_source %>
  </div>
  <div class="field">
    <%= f.label :ventilation_control_method %><br>
    <%= f.text_field :ventilation_control_method %>
  </div>
  <div class="field">
    <%= f.label :ventilation_specification_method %><br>
    <%= f.text_field :ventilation_specification_method %>
  </div>
  <div class="field">
    <%= f.label :daylighting_control_lighting_fraction1 %><br>
    <%= f.text_field :daylighting_control_lighting_fraction1 %>
  </div>
  <div class="field">
    <%= f.label :daylighting_control_lighting_fraction2 %><br>
    <%= f.text_field :daylighting_control_lighting_fraction2 %>
  </div>
  <div class="field">
    <%= f.label :daylighting_control_type %><br>
    <%= f.text_field :daylighting_control_type %>
  </div>
  <div class="field">
    <%= f.label :daylighting_minimum_dimming_light_fraction %><br>
    <%= f.text_field :daylighting_minimum_dimming_light_fraction %>
  </div>
  <div class="field">
    <%= f.label :daylighting_minimum_dimming_power_fraction %><br>
    <%= f.text_field :daylighting_minimum_dimming_power_fraction %>
  </div>
  <div class="field">
    <%= f.label :daylighting_number_of_control_steps %><br>
    <%= f.text_field :daylighting_number_of_control_steps %>
  </div>
  <div class="field">
    <%= f.label :exhaust_system_reference %><br>
    <%= f.text_field :exhaust_system_reference %>
  </div>
  <div class="field">
    <%= f.label :exhaust_fan_name %><br>
    <%= f.text_field :exhaust_fan_name %>
  </div>
  <div class="field">
    <%= f.label :exhaust_flow_simulated %><br>
    <%= f.text_field :exhaust_flow_simulated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
