<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @thermal_zone.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @thermal_zone.type %>
</p>

<p>
  <strong>Multiplier:</strong>
  <%= @thermal_zone.multiplier %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thermal_zone.description %>
</p>

<p>
  <strong>Supply plenum zone reference:</strong>
  <%= @thermal_zone.supply_plenum_zone_reference %>
</p>

<p>
  <strong>Return plenum zone reference:</strong>
  <%= @thermal_zone.return_plenum_zone_reference %>
</p>

<p>
  <strong>Hvac zone count:</strong>
  <%= @thermal_zone.hvac_zone_count %>
</p>

<p>
  <strong>Primary air conditioning system reference:</strong>
  <%= @thermal_zone.primary_air_conditioning_system_reference %>
</p>

<p>
  <strong>Ventilation system reference:</strong>
  <%= @thermal_zone.ventilation_system_reference %>
</p>

<p>
  <strong>Cooling design supply air temperature:</strong>
  <%= @thermal_zone.cooling_design_supply_air_temperature %>
</p>

<p>
  <strong>Cooling design supply air temperature difference:</strong>
  <%= @thermal_zone.cooling_design_supply_air_temperature_difference %>
</p>

<p>
  <strong>Cooling design sizing factor:</strong>
  <%= @thermal_zone.cooling_design_sizing_factor %>
</p>

<p>
  <strong>Heating design supply air temperature:</strong>
  <%= @thermal_zone.heating_design_supply_air_temperature %>
</p>

<p>
  <strong>Heating design supply air temperature difference:</strong>
  <%= @thermal_zone.heating_design_supply_air_temperature_difference %>
</p>

<p>
  <strong>Heating design sizing factor:</strong>
  <%= @thermal_zone.heating_design_sizing_factor %>
</p>

<p>
  <strong>Heating design maximum flow fraction:</strong>
  <%= @thermal_zone.heating_design_maximum_flow_fraction %>
</p>

<p>
  <strong>Ventilation source:</strong>
  <%= @thermal_zone.ventilation_source %>
</p>

<p>
  <strong>Ventilation control method:</strong>
  <%= @thermal_zone.ventilation_control_method %>
</p>

<p>
  <strong>Ventilation specification method:</strong>
  <%= @thermal_zone.ventilation_specification_method %>
</p>

<p>
  <strong>Daylighting control lighting fraction1:</strong>
  <%= @thermal_zone.daylighting_control_lighting_fraction1 %>
</p>

<p>
  <strong>Daylighting control lighting fraction2:</strong>
  <%= @thermal_zone.daylighting_control_lighting_fraction2 %>
</p>

<p>
  <strong>Daylighting control type:</strong>
  <%= @thermal_zone.daylighting_control_type %>
</p>

<p>
  <strong>Daylighting minimum dimming light fraction:</strong>
  <%= @thermal_zone.daylighting_minimum_dimming_light_fraction %>
</p>

<p>
  <strong>Daylighting minimum dimming power fraction:</strong>
  <%= @thermal_zone.daylighting_minimum_dimming_power_fraction %>
</p>

<p>
  <strong>Daylighting number of control steps:</strong>
  <%= @thermal_zone.daylighting_number_of_control_steps %>
</p>

<p>
  <strong>Exhaust system reference:</strong>
  <%= @thermal_zone.exhaust_system_reference %>
</p>

<p>
  <strong>Exhaust fan name:</strong>
  <%= @thermal_zone.exhaust_fan_name %>
</p>

<p>
  <strong>Exhaust flow simulated:</strong>
  <%= @thermal_zone.exhaust_flow_simulated %>
</p>

<%= link_to 'Edit', edit_thermal_zone_path(@thermal_zone) %> |
<%= link_to 'Back', thermal_zones_path %>
