<%= form_for(@space) do |f| %>
  <% if @space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% @space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :thermal_zone_reference %><br>
    <%= f.text_field :thermal_zone_reference %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :space_function_defaults_reference %><br>
    <%= f.text_field :space_function_defaults_reference %>
  </div>
  <div class="field">
    <%= f.label :space_function %><br>
    <%= f.text_field :space_function %>
  </div>
  <div class="field">
    <%= f.label :secondary_sidelit100_percent_controlled %><br>
    <%= f.number_field :secondary_sidelit100_percent_controlled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
