<%= form_for(@skylight) do |f| %>
  <% if @skylight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skylight.errors.count, "error") %> prohibited this skylight from being saved:</h2>

      <ul>
      <% @skylight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
