<%= form_for(@fenestration_construction) do |f| %>
  <% if @fenestration_construction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fenestration_construction.errors.count, "error") %> prohibited this fenestration_construction from being saved:</h2>

      <ul>
      <% @fenestration_construction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fenestration_type %><br>
    <%= f.text_field :fenestration_type %>
  </div>
  <div class="field">
    <%= f.label :fenestration_product_type %><br>
    <%= f.text_field :fenestration_product_type %>
  </div>
  <div class="field">
    <%= f.label :assembly_context %><br>
    <%= f.text_field :assembly_context %>
  </div>
  <div class="field">
    <%= f.label :certification_method %><br>
    <%= f.text_field :certification_method %>
  </div>
  <div class="field">
    <%= f.label :skylight_glazing %><br>
    <%= f.text_field :skylight_glazing %>
  </div>
  <div class="field">
    <%= f.label :skylight_curb %><br>
    <%= f.text_field :skylight_curb %>
  </div>
  <div class="field">
    <%= f.label :operable_window_configuration %><br>
    <%= f.text_field :operable_window_configuration %>
  </div>
  <div class="field">
    <%= f.label :greenhouse_garden_window %><br>
    <%= f.text_field :greenhouse_garden_window %>
  </div>
  <div class="field">
    <%= f.label :fenestration_framing %><br>
    <%= f.text_field :fenestration_framing %>
  </div>
  <div class="field">
    <%= f.label :fenestration_panes %><br>
    <%= f.text_field :fenestration_panes %>
  </div>
  <div class="field">
    <%= f.label :glazing_tint %><br>
    <%= f.text_field :glazing_tint %>
  </div>
  <div class="field">
    <%= f.label :window_divider %><br>
    <%= f.text_field :window_divider %>
  </div>
  <div class="field">
    <%= f.label :diffusing %><br>
    <%= f.text_field :diffusing %>
  </div>
  <div class="field">
    <%= f.label :shgc %><br>
    <%= f.text_field :shgc %>
  </div>
  <div class="field">
    <%= f.label :shgc_center_of_glass %><br>
    <%= f.text_field :shgc_center_of_glass %>
  </div>
  <div class="field">
    <%= f.label :u_factor %><br>
    <%= f.text_field :u_factor %>
  </div>
  <div class="field">
    <%= f.label :u_factor_center_of_glass %><br>
    <%= f.text_field :u_factor_center_of_glass %>
  </div>
  <div class="field">
    <%= f.label :visible_transmittance %><br>
    <%= f.text_field :visible_transmittance %>
  </div>
  <div class="field">
    <%= f.label :visible_transmittance_center_of_glass %><br>
    <%= f.text_field :visible_transmittance_center_of_glass %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
