<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fenestration_construction.name %>
</p>

<p>
  <strong>Fenestration type:</strong>
  <%= @fenestration_construction.fenestration_type %>
</p>

<p>
  <strong>Fenestration product type:</strong>
  <%= @fenestration_construction.fenestration_product_type %>
</p>

<p>
  <strong>Assembly context:</strong>
  <%= @fenestration_construction.assembly_context %>
</p>

<p>
  <strong>Certification method:</strong>
  <%= @fenestration_construction.certification_method %>
</p>

<p>
  <strong>Shgc:</strong>
  <%= @fenestration_construction.shgc %>
</p>

<p>
  <strong>U factor:</strong>
  <%= @fenestration_construction.u_factor %>
</p>

<p>
  <strong>Visible transmittance:</strong>
  <%= @fenestration_construction.visible_transmittance %>
</p>

<%= link_to 'Edit', edit_fenestration_construction_path(@fenestration_construction) %> |
<%= link_to 'Back', fenestration_constructions_path %>
