<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fenestration_construction.name %>
</p>

<p>
  <strong>Fenestration type:</strong>
  <%= @fenestration_construction.fenestration_type %>
</p>

<p>
  <strong>Fenestration product type:</strong>
  <%= @fenestration_construction.fenestration_product_type %>
</p>

<p>
  <strong>Assembly context:</strong>
  <%= @fenestration_construction.assembly_context %>
</p>

<p>
  <strong>Certification method:</strong>
  <%= @fenestration_construction.certification_method %>
</p>

<p>
  <strong>Skylight glazing:</strong>
  <%= @fenestration_construction.skylight_glazing %>
</p>

<p>
  <strong>Skylight curb:</strong>
  <%= @fenestration_construction.skylight_curb %>
</p>

<p>
  <strong>Operable window configuration:</strong>
  <%= @fenestration_construction.operable_window_configuration %>
</p>

<p>
  <strong>Greenhouse garden window:</strong>
  <%= @fenestration_construction.greenhouse_garden_window %>
</p>

<p>
  <strong>Fenestration framing:</strong>
  <%= @fenestration_construction.fenestration_framing %>
</p>

<p>
  <strong>Fenestration panes:</strong>
  <%= @fenestration_construction.fenestration_panes %>
</p>

<p>
  <strong>Glazing tint:</strong>
  <%= @fenestration_construction.glazing_tint %>
</p>

<p>
  <strong>Window divider:</strong>
  <%= @fenestration_construction.window_divider %>
</p>

<p>
  <strong>Diffusing:</strong>
  <%= @fenestration_construction.diffusing %>
</p>

<p>
  <strong>Shgc:</strong>
  <%= @fenestration_construction.shgc %>
</p>

<p>
  <strong>Shgc center of glass:</strong>
  <%= @fenestration_construction.shgc_center_of_glass %>
</p>

<p>
  <strong>U factor:</strong>
  <%= @fenestration_construction.u_factor %>
</p>

<p>
  <strong>U factor center of glass:</strong>
  <%= @fenestration_construction.u_factor_center_of_glass %>
</p>

<p>
  <strong>Visible transmittance:</strong>
  <%= @fenestration_construction.visible_transmittance %>
</p>

<p>
  <strong>Visible transmittance center of glass:</strong>
  <%= @fenestration_construction.visible_transmittance_center_of_glass %>
</p>

<%= link_to 'Edit', edit_fenestration_construction_path(@fenestration_construction) %> |
<%= link_to 'Back', fenestration_constructions_path %>
