<%= form_for(@zone_system) do |f| %>
  <% if @zone_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zone_system.errors.count, "error") %> prohibited this zone_system from being saved:</h2>

      <ul>
      <% @zone_system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :hvac_auto_sizing %><br>
    <%= f.text_field :hvac_auto_sizing %>
  </div>
  <div class="field">
    <%= f.label :fan_control %><br>
    <%= f.text_field :fan_control %>
  </div>
  <div class="field">
    <%= f.label :cooling_control %><br>
    <%= f.text_field :cooling_control %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.text_field :count %>
  </div>
  <div class="field">
    <%= f.label :cooling_design_supply_air_temperature %><br>
    <%= f.text_field :cooling_design_supply_air_temperature %>
  </div>
  <div class="field">
    <%= f.label :heating_design_supply_air_temperature %><br>
    <%= f.text_field :heating_design_supply_air_temperature %>
  </div>
  <div class="field">
    <%= f.label :exhaust_system_type %><br>
    <%= f.text_field :exhaust_system_type %>
  </div>
  <div class="field">
    <%= f.label :exhaust_operation_mode %><br>
    <%= f.text_field :exhaust_operation_mode %>
  </div>
  <div class="field">
    <%= f.label :exhaust_control_method %><br>
    <%= f.text_field :exhaust_control_method %>
  </div>
  <div class="field">
    <%= f.label :air_distribution_type %><br>
    <%= f.text_field :air_distribution_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
