<h1>Listing zone_systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Type</th>
      <th>Description</th>
      <th>Hvac auto sizing</th>
      <th>Fan control</th>
      <th>Cooling control</th>
      <th>Count</th>
      <th>Cooling design supply air temperature</th>
      <th>Heating design supply air temperature</th>
      <th>Exhaust system type</th>
      <th>Exhaust operation mode</th>
      <th>Exhaust control method</th>
      <th>Air distribution type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zone_systems.each do |zone_system| %>
      <tr>
        <td><%= zone_system.name %></td>
        <td><%= zone_system.status %></td>
        <td><%= zone_system.type %></td>
        <td><%= zone_system.description %></td>
        <td><%= zone_system.hvac_auto_sizing %></td>
        <td><%= zone_system.fan_control %></td>
        <td><%= zone_system.cooling_control %></td>
        <td><%= zone_system.count %></td>
        <td><%= zone_system.cooling_design_supply_air_temperature %></td>
        <td><%= zone_system.heating_design_supply_air_temperature %></td>
        <td><%= zone_system.exhaust_system_type %></td>
        <td><%= zone_system.exhaust_operation_mode %></td>
        <td><%= zone_system.exhaust_control_method %></td>
        <td><%= zone_system.air_distribution_type %></td>
        <td><%= link_to 'Show', zone_system %></td>
        <td><%= link_to 'Edit', edit_zone_system_path(zone_system) %></td>
        <td><%= link_to 'Destroy', zone_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zone system', new_zone_system_path %>
