<%= form_for(@underground_wall) do |f| %>
  <% if @underground_wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@underground_wall.errors.count, "error") %> prohibited this underground_wall from being saved:</h2>

      <ul>
      <% @underground_wall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :construct_assembly_reference %><br>
    <%= f.text_field :construct_assembly_reference %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :interior_solar_absorptance %><br>
    <%= f.text_field :interior_solar_absorptance %>
  </div>
  <div class="field">
    <%= f.label :interior_thermal_absorptance %><br>
    <%= f.text_field :interior_thermal_absorptance %>
  </div>
  <div class="field">
    <%= f.label :interior_visible_absorptance %><br>
    <%= f.text_field :interior_visible_absorptance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
