<h2> Inputs </h2>

<table class="table table-striped">
	<tr>
		<th>&nbsp</th>
		<th>Name</th>
		<th>Display Name</th>
		<th>Parent(s)</th>
		<th>Children</th>
		<th>Notes</th>
	</tr>

	<% @inputs.each_with_index do |i, index| %>
		<tr>
			<td><%= "#{index+1}." %></td>
			<td><%= i.name %></td>
			<td><%= i.display_name %></td>
			<td><%= i.parents.nil? ? '' : i.parents.join(',') %></td>
			<td><%= i.children.nil? ? '' : i.children.join(',') %></td>
			<td><%= i.notes %></td>
		</tr>
	<% end %>

</table>