<%= form_for(@coil_cooling) do |f| %>
  <% if @coil_cooling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coil_cooling.errors.count, "error") %> prohibited this coil_cooling from being saved:</h2>

      <ul>
      <% @coil_cooling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :fluid_segment_in_reference %><br>
    <%= f.text_field :fluid_segment_in_reference %>
  </div>
  <div class="field">
    <%= f.label :fluid_segment_out_reference %><br>
    <%= f.text_field :fluid_segment_out_reference %>
  </div>
  <div class="field">
    <%= f.label :fluid_flow_rate_design %><br>
    <%= f.text_field :fluid_flow_rate_design %>
  </div>
  <div class="field">
    <%= f.label :number_cooling_stages %><br>
    <%= f.text_field :number_cooling_stages %>
  </div>
  <div class="field">
    <%= f.label :capacity_total_gross_rated %><br>
    <%= f.text_field :capacity_total_gross_rated %>
  </div>
  <div class="field">
    <%= f.label :capacity_total_net_rated %><br>
    <%= f.text_field :capacity_total_net_rated %>
  </div>
  <div class="field">
    <%= f.label :capacity_total_rated_stage_fraction %><br>
    <%= f.text_field :capacity_total_rated_stage_fraction %>
  </div>
  <div class="field">
    <%= f.label :dxseer %><br>
    <%= f.text_field :dxseer %>
  </div>
  <div class="field">
    <%= f.label :dxeer %><br>
    <%= f.text_field :dxeer %>
  </div>
  <div class="field">
    <%= f.label :dx_crankcase_control_temperature %><br>
    <%= f.text_field :dx_crankcase_control_temperature %>
  </div>
  <div class="field">
    <%= f.label :dx_crankcase_heat_capacity %><br>
    <%= f.text_field :dx_crankcase_heat_capacity %>
  </div>
  <div class="field">
    <%= f.label :minimum_hot_gas_ratio %><br>
    <%= f.text_field :minimum_hot_gas_ratio %>
  </div>
  <div class="field">
    <%= f.label :condenser_type %><br>
    <%= f.text_field :condenser_type %>
  </div>
  <div class="field">
    <%= f.label :auxilliary_power %><br>
    <%= f.text_field :auxilliary_power %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
