<h1>Listing coil_coolings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Fluid segment in reference</th>
      <th>Fluid segment out reference</th>
      <th>Fluid flow rate design</th>
      <th>Number cooling stages</th>
      <th>Capacity total gross rated</th>
      <th>Capacity total net rated</th>
      <th>Capacity total rated stage fraction</th>
      <th>Dxseer</th>
      <th>Dxeer</th>
      <th>Dx crankcase control temperature</th>
      <th>Dx crankcase heat capacity</th>
      <th>Minimum hot gas ratio</th>
      <th>Condenser type</th>
      <th>Auxilliary power</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coil_coolings.each do |coil_cooling| %>
      <tr>
        <td><%= coil_cooling.name %></td>
        <td><%= coil_cooling.type %></td>
        <td><%= coil_cooling.fluid_segment_in_reference %></td>
        <td><%= coil_cooling.fluid_segment_out_reference %></td>
        <td><%= coil_cooling.fluid_flow_rate_design %></td>
        <td><%= coil_cooling.number_cooling_stages %></td>
        <td><%= coil_cooling.capacity_total_gross_rated %></td>
        <td><%= coil_cooling.capacity_total_net_rated %></td>
        <td><%= coil_cooling.capacity_total_rated_stage_fraction %></td>
        <td><%= coil_cooling.dxseer %></td>
        <td><%= coil_cooling.dxeer %></td>
        <td><%= coil_cooling.dx_crankcase_control_temperature %></td>
        <td><%= coil_cooling.dx_crankcase_heat_capacity %></td>
        <td><%= coil_cooling.minimum_hot_gas_ratio %></td>
        <td><%= coil_cooling.condenser_type %></td>
        <td><%= coil_cooling.auxilliary_power %></td>
        <td><%= link_to 'Show', coil_cooling %></td>
        <td><%= link_to 'Edit', edit_coil_cooling_path(coil_cooling) %></td>
        <td><%= link_to 'Destroy', coil_cooling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coil cooling', new_coil_cooling_path %>
