<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coil_cooling.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @coil_cooling.type %>
</p>

<p>
  <strong>Fluid segment in reference:</strong>
  <%= @coil_cooling.fluid_segment_in_reference %>
</p>

<p>
  <strong>Fluid segment out reference:</strong>
  <%= @coil_cooling.fluid_segment_out_reference %>
</p>

<p>
  <strong>Fluid flow rate design:</strong>
  <%= @coil_cooling.fluid_flow_rate_design %>
</p>

<p>
  <strong>Number cooling stages:</strong>
  <%= @coil_cooling.number_cooling_stages %>
</p>

<p>
  <strong>Capacity total gross rated:</strong>
  <%= @coil_cooling.capacity_total_gross_rated %>
</p>

<p>
  <strong>Capacity total net rated:</strong>
  <%= @coil_cooling.capacity_total_net_rated %>
</p>

<p>
  <strong>Capacity total rated stage fraction:</strong>
  <%= @coil_cooling.capacity_total_rated_stage_fraction %>
</p>

<p>
  <strong>Dxseer:</strong>
  <%= @coil_cooling.dxseer %>
</p>

<p>
  <strong>Dxeer:</strong>
  <%= @coil_cooling.dxeer %>
</p>

<p>
  <strong>Dx crankcase control temperature:</strong>
  <%= @coil_cooling.dx_crankcase_control_temperature %>
</p>

<p>
  <strong>Dx crankcase heat capacity:</strong>
  <%= @coil_cooling.dx_crankcase_heat_capacity %>
</p>

<p>
  <strong>Minimum hot gas ratio:</strong>
  <%= @coil_cooling.minimum_hot_gas_ratio %>
</p>

<p>
  <strong>Condenser type:</strong>
  <%= @coil_cooling.condenser_type %>
</p>

<p>
  <strong>Auxilliary power:</strong>
  <%= @coil_cooling.auxilliary_power %>
</p>

<%= link_to 'Edit', edit_coil_cooling_path(@coil_cooling) %> |
<%= link_to 'Back', coil_coolings_path %>
