<div class="row mar-top-neg-20 pad-bot-5">
  <div class="col-md-8">
     <div class="header-text">This site is designed to help you meet the <strong>Title 24 Compliance</strong> in California. <%= link_to "Create an account", new_user_registration_path %> and follow the workflow to create a building model using simplified geometry inputs.</div>
  </div>
  <div class="col-md-4 green-border">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="row pad-bot-10">
          <% if can? :create, Project %>
            <%= link_to "Open an Existing Project", user_path(current_user), class: "btn btn-success col-md-10" %>
          <% else %>
            <%= link_to "Open an Existing Project", new_user_session_path, class: "btn btn-success col-md-10"%>
          <% end %>
        </div>
        <div class="row">
          <%= link_to "Start a New Project", wizard_path, class: "btn btn-success col-md-10" %>
        </div>
      </div>
      <div class="col-md-2"><a href="http://nrel.github.io/t24_compliance_help/" target="_blank"><%= image_tag 'icon_help.png', alt: 'Help' %></a></div>
    </div>
  </div>
</div>

<div class="row pad-top-20 pad-sides-sm">
  <div class="col-md-12">
    <%= image_tag 'project-workflow.png', alt: 'Description of workflow for Title 24 Compliance', class: 'project-workflow-text' %>
    <%= image_tag 'bg.jpg', class: 'full-width project-workflow-bg' %>
  </div>
</div>
