<h2>User Account</h2>
<h3 class="edit-name"><%= @user.email %> <% if @user.has_role? :admin %>(admin user)<% end %>
<%= link_to "[ edit account ]", edit_user_registration_path(@user), class: "edit-link" %>
<% if current_user.has_role? :admin %><%= link_to "[ edit roles ]", edit_user_path(@user), class: "edit-link" %><% end %></h3>

<% if current_user.has_role? :admin %><%= link_to 'Admin Tasks', admin_users_path, class: 'btn btn-success' %><% end %>

<h2>Projects</h2>

<%= link_to 'New Project Wizard', wizard_path, class: 'btn btn-primary' %>
<div class="pad-tb-20">
<% if @projects.nil? %>
  <p>You do not have any projects.</p>
<% else %>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Simulation Status</th>
      <th>Actions</th>
    </tr>
    <% @projects.each do |p| %>
      <tr>
        <td><a href="/wizard#/projects/<%= p.id %>"><div class="project-link"><%= p.name %></div></a></td>
        <td><% if p.building %><a href="/wizard#/projects/<%= p.id %>/buildings/<%= p.building.id%>/compliance"><div class="project-link"><%= p.simulation.status %></div></a><% end %></td>
        <td><a class="btn btn-info" type="button" href="<%= download_project_path(p) %>"><i class="fa fa-arrow-circle-o-down fa-lg"></i> Download XML</a> <a class="btn btn-danger" type="button" data-confirm="Are you sure?" data-method="delete" href="/projects/<%= p.id %>" rel="nofollow">Delete</a></td>
      </tr>
    <% end %>
  </table>
<% end %>
</div>
