<%= form_for(@fluid_system) do |f| %>
  <% if @fluid_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fluid_system.errors.count, "error") %> prohibited this fluid_system from being saved:</h2>

      <ul>
      <% @fluid_system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :design_supply_water_temperature %><br>
    <%= f.text_field :design_supply_water_temperature %>
  </div>
  <div class="field">
    <%= f.label :heating_design_supply_water_temperature %><br>
    <%= f.text_field :heating_design_supply_water_temperature %>
  </div>
  <div class="field">
    <%= f.label :design_supply_water_temperature_delta_t %><br>
    <%= f.text_field :design_supply_water_temperature_delta_t %>
  </div>
  <div class="field">
    <%= f.label :control_type %><br>
    <%= f.text_field :control_type %>
  </div>
  <div class="field">
    <%= f.label :temperature_control %><br>
    <%= f.text_field :temperature_control %>
  </div>
  <div class="field">
    <%= f.label :fixed_supply_temperature %><br>
    <%= f.text_field :fixed_supply_temperature %>
  </div>
  <div class="field">
    <%= f.label :temperature_setpoint_schedule_reference %><br>
    <%= f.text_field :temperature_setpoint_schedule_reference %>
  </div>
  <div class="field">
    <%= f.label :heating_fixed_supply_temperature %><br>
    <%= f.text_field :heating_fixed_supply_temperature %>
  </div>
  <div class="field">
    <%= f.label :heating_temperature_setpoint_schedule_reference %><br>
    <%= f.text_field :heating_temperature_setpoint_schedule_reference %>
  </div>
  <div class="field">
    <%= f.label :reset_supply_high %><br>
    <%= f.text_field :reset_supply_high %>
  </div>
  <div class="field">
    <%= f.label :reset_supply_low %><br>
    <%= f.text_field :reset_supply_low %>
  </div>
  <div class="field">
    <%= f.label :reset_outdoor_high %><br>
    <%= f.text_field :reset_outdoor_high %>
  </div>
  <div class="field">
    <%= f.label :reset_outdoor_low %><br>
    <%= f.text_field :reset_outdoor_low %>
  </div>
  <div class="field">
    <%= f.label :wet_bulb_approach %><br>
    <%= f.text_field :wet_bulb_approach %>
  </div>
  <div class="field">
    <%= f.label :cooling_supply_temperature %><br>
    <%= f.text_field :cooling_supply_temperature %>
  </div>
  <div class="field">
    <%= f.label :heating_supply_temperature %><br>
    <%= f.text_field :heating_supply_temperature %>
  </div>
  <div class="field">
    <%= f.label :evaporator_fluid_segment_in_reference %><br>
    <%= f.text_field :evaporator_fluid_segment_in_reference %>
  </div>
  <div class="field">
    <%= f.label :shw_system_count %><br>
    <%= f.text_field :shw_system_count %>
  </div>
  <div class="field">
    <%= f.label :annual_solar_fraction %><br>
    <%= f.text_field :annual_solar_fraction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
