<h1>Listing fluid_systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fluid_systems.each do |fluid_system| %>
      <tr>
        <td><%= fluid_system.name %></td>
        <td><%= fluid_system.status %></td>
        <td><%= fluid_system.type %></td>
        <td><%= link_to 'Show', fluid_system %></td>
        <td><%= link_to 'Edit', edit_fluid_system_path(fluid_system) %></td>
        <td><%= link_to 'Destroy', fluid_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fluid system', new_fluid_system_path %>
