<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fluid_system.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fluid_system.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fluid_system.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fluid_system.description %>
</p>

<p>
  <strong>Design supply water temperature:</strong>
  <%= @fluid_system.design_supply_water_temperature %>
</p>

<p>
  <strong>Heating design supply water temperature:</strong>
  <%= @fluid_system.heating_design_supply_water_temperature %>
</p>

<p>
  <strong>Design supply water temperature delta t:</strong>
  <%= @fluid_system.design_supply_water_temperature_delta_t %>
</p>

<p>
  <strong>Control type:</strong>
  <%= @fluid_system.control_type %>
</p>

<p>
  <strong>Temperature control:</strong>
  <%= @fluid_system.temperature_control %>
</p>

<p>
  <strong>Fixed supply temperature:</strong>
  <%= @fluid_system.fixed_supply_temperature %>
</p>

<p>
  <strong>Temperature setpoint schedule reference:</strong>
  <%= @fluid_system.temperature_setpoint_schedule_reference %>
</p>

<p>
  <strong>Heating fixed supply temperature:</strong>
  <%= @fluid_system.heating_fixed_supply_temperature %>
</p>

<p>
  <strong>Heating temperature setpoint schedule reference:</strong>
  <%= @fluid_system.heating_temperature_setpoint_schedule_reference %>
</p>

<p>
  <strong>Reset supply high:</strong>
  <%= @fluid_system.reset_supply_high %>
</p>

<p>
  <strong>Reset supply low:</strong>
  <%= @fluid_system.reset_supply_low %>
</p>

<p>
  <strong>Reset outdoor high:</strong>
  <%= @fluid_system.reset_outdoor_high %>
</p>

<p>
  <strong>Reset outdoor low:</strong>
  <%= @fluid_system.reset_outdoor_low %>
</p>

<p>
  <strong>Wet bulb approach:</strong>
  <%= @fluid_system.wet_bulb_approach %>
</p>

<p>
  <strong>Cooling supply temperature:</strong>
  <%= @fluid_system.cooling_supply_temperature %>
</p>

<p>
  <strong>Heating supply temperature:</strong>
  <%= @fluid_system.heating_supply_temperature %>
</p>

<p>
  <strong>Evaporator fluid segment in reference:</strong>
  <%= @fluid_system.evaporator_fluid_segment_in_reference %>
</p>

<p>
  <strong>Shw system count:</strong>
  <%= @fluid_system.shw_system_count %>
</p>

<p>
  <strong>Annual solar fraction:</strong>
  <%= @fluid_system.annual_solar_fraction %>
</p>

<%= link_to 'Edit', edit_fluid_system_path(@fluid_system) %> |
<%= link_to 'Back', fluid_systems_path %>
