<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @luminaire.name %>
</p>

<p>
  <strong>Fixture type:</strong>
  <%= @luminaire.fixture_type %>
</p>

<p>
  <strong>Lamp type:</strong>
  <%= @luminaire.lamp_type %>
</p>

<p>
  <strong>Power:</strong>
  <%= @luminaire.power %>
</p>

<p>
  <strong>Heat gain space fraction:</strong>
  <%= @luminaire.heat_gain_space_fraction %>
</p>

<p>
  <strong>Heat gain radiant fraction:</strong>
  <%= @luminaire.heat_gain_radiant_fraction %>
</p>

<%= link_to 'Edit', edit_luminaire_path(@luminaire) %> |
<%= link_to 'Back', luminaires_path %>
