<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @schedule_week.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @schedule_week.type %>
</p>

<%= link_to 'Edit', edit_schedule_week_path(@schedule_week) %> |
<%= link_to 'Back', schedule_weeks_path %>
