<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @schedule_week.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @schedule_week.type %>
</p>

<p>
  <strong>Schedule day all days reference:</strong>
  <%= @schedule_week.schedule_day_all_days_reference %>
</p>

<p>
  <strong>Schedule day weekdays reference:</strong>
  <%= @schedule_week.schedule_day_weekdays_reference %>
</p>

<p>
  <strong>Schedule day weekends reference:</strong>
  <%= @schedule_week.schedule_day_weekends_reference %>
</p>

<p>
  <strong>Schedule day sunday reference:</strong>
  <%= @schedule_week.schedule_day_sunday_reference %>
</p>

<p>
  <strong>Schedule day monday reference:</strong>
  <%= @schedule_week.schedule_day_monday_reference %>
</p>

<p>
  <strong>Schedule day tuesday reference:</strong>
  <%= @schedule_week.schedule_day_tuesday_reference %>
</p>

<p>
  <strong>Schedule day wednesday reference:</strong>
  <%= @schedule_week.schedule_day_wednesday_reference %>
</p>

<p>
  <strong>Schedule day thursday reference:</strong>
  <%= @schedule_week.schedule_day_thursday_reference %>
</p>

<p>
  <strong>Schedule day friday reference:</strong>
  <%= @schedule_week.schedule_day_friday_reference %>
</p>

<p>
  <strong>Schedule day saturday reference:</strong>
  <%= @schedule_week.schedule_day_saturday_reference %>
</p>

<p>
  <strong>Schedule day holiday reference:</strong>
  <%= @schedule_week.schedule_day_holiday_reference %>
</p>

<p>
  <strong>Schedule day cooling design day reference:</strong>
  <%= @schedule_week.schedule_day_cooling_design_day_reference %>
</p>

<p>
  <strong>Schedule day heating design day reference:</strong>
  <%= @schedule_week.schedule_day_heating_design_day_reference %>
</p>

<%= link_to 'Edit', edit_schedule_week_path(@schedule_week) %> |
<%= link_to 'Back', schedule_weeks_path %>
