<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :end_month %><br>
    <%= f.text_field :end_month %>
  </div>
  <div class="field">
    <%= f.label :end_day %><br>
    <%= f.text_field :end_day %>
  </div>
  <div class="field">
    <%= f.label :schedule_week_reference %><br>
    <%= f.text_field :schedule_week_reference %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
