<%= form_for(@coil_heating) do |f| %>
  <% if @coil_heating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coil_heating.errors.count, "error") %> prohibited this coil_heating from being saved:</h2>

      <ul>
      <% @coil_heating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :fuel_source %><br>
    <%= f.text_field :fuel_source %>
  </div>
  <div class="field">
    <%= f.label :fluid_segment_in_reference %><br>
    <%= f.text_field :fluid_segment_in_reference %>
  </div>
  <div class="field">
    <%= f.label :fluid_segment_out_reference %><br>
    <%= f.text_field :fluid_segment_out_reference %>
  </div>
  <div class="field">
    <%= f.label :fluid_flow_rate_design %><br>
    <%= f.text_field :fluid_flow_rate_design %>
  </div>
  <div class="field">
    <%= f.label :capacity_total_gross_rated %><br>
    <%= f.text_field :capacity_total_gross_rated %>
  </div>
  <div class="field">
    <%= f.label :capacity_total_net_rated %><br>
    <%= f.text_field :capacity_total_net_rated %>
  </div>
  <div class="field">
    <%= f.label :capacity_total_rated_stage_fraction %><br>
    <%= f.text_field :capacity_total_rated_stage_fraction %>
  </div>
  <div class="field">
    <%= f.label :furnace_afue %><br>
    <%= f.text_field :furnace_afue %>
  </div>
  <div class="field">
    <%= f.label :furnace_thermal_efficiency %><br>
    <%= f.text_field :furnace_thermal_efficiency %>
  </div>
  <div class="field">
    <%= f.label :furnace_ignition_type %><br>
    <%= f.text_field :furnace_ignition_type %>
  </div>
  <div class="field">
    <%= f.label :furnace_pilot_fuel_input %><br>
    <%= f.text_field :furnace_pilot_fuel_input %>
  </div>
  <div class="field">
    <%= f.label :condenser_type %><br>
    <%= f.text_field :condenser_type %>
  </div>
  <div class="field">
    <%= f.label :heat_pump_hspf %><br>
    <%= f.text_field :heat_pump_hspf %>
  </div>
  <div class="field">
    <%= f.label :heat_pump_cop %><br>
    <%= f.text_field :heat_pump_cop %>
  </div>
  <div class="field">
    <%= f.label :heat_pump_supplemental_coil_heating_reference %><br>
    <%= f.text_field :heat_pump_supplemental_coil_heating_reference %>
  </div>
  <div class="field">
    <%= f.label :heat_pump_compressor_lockout_temperature %><br>
    <%= f.text_field :heat_pump_compressor_lockout_temperature %>
  </div>
  <div class="field">
    <%= f.label :heat_pump_supplemental_temperature %><br>
    <%= f.text_field :heat_pump_supplemental_temperature %>
  </div>
  <div class="field">
    <%= f.label :heat_pump_crankcase_heat_capacity %><br>
    <%= f.text_field :heat_pump_crankcase_heat_capacity %>
  </div>
  <div class="field">
    <%= f.label :heat_pump_crankcase_control_temperature %><br>
    <%= f.text_field :heat_pump_crankcase_control_temperature %>
  </div>
  <div class="field">
    <%= f.label :heat_pump_defrost_heat_source %><br>
    <%= f.text_field :heat_pump_defrost_heat_source %>
  </div>
  <div class="field">
    <%= f.label :heat_pump_defrost_heat_capacity %><br>
    <%= f.text_field :heat_pump_defrost_heat_capacity %>
  </div>
  <div class="field">
    <%= f.label :heat_pump_defrost_control %><br>
    <%= f.text_field :heat_pump_defrost_control %>
  </div>
  <div class="field">
    <%= f.label :auxilliary_power %><br>
    <%= f.text_field :auxilliary_power %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
