<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coil_heating.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @coil_heating.type %>
</p>

<p>
  <strong>Fuel source:</strong>
  <%= @coil_heating.fuel_source %>
</p>

<p>
  <strong>Fluid segment in reference:</strong>
  <%= @coil_heating.fluid_segment_in_reference %>
</p>

<p>
  <strong>Fluid segment out reference:</strong>
  <%= @coil_heating.fluid_segment_out_reference %>
</p>

<p>
  <strong>Fluid flow rate design:</strong>
  <%= @coil_heating.fluid_flow_rate_design %>
</p>

<p>
  <strong>Capacity total gross rated:</strong>
  <%= @coil_heating.capacity_total_gross_rated %>
</p>

<p>
  <strong>Capacity total net rated:</strong>
  <%= @coil_heating.capacity_total_net_rated %>
</p>

<p>
  <strong>Capacity total rated stage fraction:</strong>
  <%= @coil_heating.capacity_total_rated_stage_fraction %>
</p>

<p>
  <strong>Furnace afue:</strong>
  <%= @coil_heating.furnace_afue %>
</p>

<p>
  <strong>Furnace thermal efficiency:</strong>
  <%= @coil_heating.furnace_thermal_efficiency %>
</p>

<p>
  <strong>Furnace ignition type:</strong>
  <%= @coil_heating.furnace_ignition_type %>
</p>

<p>
  <strong>Furnace pilot fuel input:</strong>
  <%= @coil_heating.furnace_pilot_fuel_input %>
</p>

<p>
  <strong>Condenser type:</strong>
  <%= @coil_heating.condenser_type %>
</p>

<p>
  <strong>Heat pump hspf:</strong>
  <%= @coil_heating.heat_pump_hspf %>
</p>

<p>
  <strong>Heat pump cop:</strong>
  <%= @coil_heating.heat_pump_cop %>
</p>

<p>
  <strong>Heat pump supplemental coil heating reference:</strong>
  <%= @coil_heating.heat_pump_supplemental_coil_heating_reference %>
</p>

<p>
  <strong>Heat pump compressor lockout temperature:</strong>
  <%= @coil_heating.heat_pump_compressor_lockout_temperature %>
</p>

<p>
  <strong>Heat pump supplemental temperature:</strong>
  <%= @coil_heating.heat_pump_supplemental_temperature %>
</p>

<p>
  <strong>Heat pump crankcase heat capacity:</strong>
  <%= @coil_heating.heat_pump_crankcase_heat_capacity %>
</p>

<p>
  <strong>Heat pump crankcase control temperature:</strong>
  <%= @coil_heating.heat_pump_crankcase_control_temperature %>
</p>

<p>
  <strong>Heat pump defrost heat source:</strong>
  <%= @coil_heating.heat_pump_defrost_heat_source %>
</p>

<p>
  <strong>Heat pump defrost heat capacity:</strong>
  <%= @coil_heating.heat_pump_defrost_heat_capacity %>
</p>

<p>
  <strong>Heat pump defrost control:</strong>
  <%= @coil_heating.heat_pump_defrost_control %>
</p>

<p>
  <strong>Auxilliary power:</strong>
  <%= @coil_heating.auxilliary_power %>
</p>

<%= link_to 'Edit', edit_coil_heating_path(@coil_heating) %> |
<%= link_to 'Back', coil_heatings_path %>
