<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coil_heating.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @coil_heating.type %>
</p>

<%= link_to 'Edit', edit_coil_heating_path(@coil_heating) %> |
<%= link_to 'Back', coil_heatings_path %>
