<%= form_for(@heat_rejection) do |f| %>
  <% if @heat_rejection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@heat_rejection.errors.count, "error") %> prohibited this heat_rejection from being saved:</h2>

      <ul>
      <% @heat_rejection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :fan_type %><br>
    <%= f.text_field :fan_type %>
  </div>
  <div class="field">
    <%= f.label :modulation_control %><br>
    <%= f.text_field :modulation_control %>
  </div>
  <div class="field">
    <%= f.label :fluid_segment_in_reference %><br>
    <%= f.text_field :fluid_segment_in_reference %>
  </div>
  <div class="field">
    <%= f.label :fluid_segment_out_reference %><br>
    <%= f.text_field :fluid_segment_out_reference %>
  </div>
  <div class="field">
    <%= f.label :entering_temperature_design %><br>
    <%= f.text_field :entering_temperature_design %>
  </div>
  <div class="field">
    <%= f.label :design_wb_temperature %><br>
    <%= f.text_field :design_wb_temperature %>
  </div>
  <div class="field">
    <%= f.label :leaving_temperature_design %><br>
    <%= f.text_field :leaving_temperature_design %>
  </div>
  <div class="field">
    <%= f.label :cell_count %><br>
    <%= f.text_field :cell_count %>
  </div>
  <div class="field">
    <%= f.label :capacity_rated %><br>
    <%= f.text_field :capacity_rated %>
  </div>
  <div class="field">
    <%= f.label :total_fan_hp %><br>
    <%= f.text_field :total_fan_hp %>
  </div>
  <div class="field">
    <%= f.label :air_flow_capacity %><br>
    <%= f.text_field :air_flow_capacity %>
  </div>
  <div class="field">
    <%= f.label :water_flow_capacity %><br>
    <%= f.text_field :water_flow_capacity %>
  </div>
  <div class="field">
    <%= f.label :power_f_plr_curve_reference %><br>
    <%= f.text_field :power_f_plr_curve_reference %>
  </div>
  <div class="field">
    <%= f.label :low_speed_air_flow_ratio %><br>
    <%= f.text_field :low_speed_air_flow_ratio %>
  </div>
  <div class="field">
    <%= f.label :low_speed_power_ratio %><br>
    <%= f.text_field :low_speed_power_ratio %>
  </div>
  <div class="field">
    <%= f.label :minimum_speed_ratio %><br>
    <%= f.text_field :minimum_speed_ratio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
