<%= form_for(@ceiling) do |f| %>
  <% if @ceiling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ceiling.errors.count, "error") %> prohibited this ceiling from being saved:</h2>

      <ul>
      <% @ceiling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :adjacent_space_reference %><br>
    <%= f.text_field :adjacent_space_reference %>
  </div>
  <div class="field">
    <%= f.label :construct_assembly_reference %><br>
    <%= f.text_field :construct_assembly_reference %>
  </div>
  <div class="field">
    <%= f.label :exterior_solar_absorptance %><br>
    <%= f.text_field :exterior_solar_absorptance %>
  </div>
  <div class="field">
    <%= f.label :exterior_thermal_absorptance %><br>
    <%= f.text_field :exterior_thermal_absorptance %>
  </div>
  <div class="field">
    <%= f.label :exterior_visible_absorptance %><br>
    <%= f.text_field :exterior_visible_absorptance %>
  </div>
  <div class="field">
    <%= f.label :interior_solar_absorptance %><br>
    <%= f.text_field :interior_solar_absorptance %>
  </div>
  <div class="field">
    <%= f.label :interior_thermal_absorptance %><br>
    <%= f.text_field :interior_thermal_absorptance %>
  </div>
  <div class="field">
    <%= f.label :interior_visible_absorptance %><br>
    <%= f.text_field :interior_visible_absorptance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
