<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ceiling.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @ceiling.area %>
</p>

<p>
  <strong>Adjacent space reference:</strong>
  <%= @ceiling.adjacent_space_reference %>
</p>

<p>
  <strong>Construct assembly reference:</strong>
  <%= @ceiling.construct_assembly_reference %>
</p>

<%= link_to 'Edit', edit_ceiling_path(@ceiling) %> |
<%= link_to 'Back', ceilings_path %>
