<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fan.name %>
</p>

<p>
  <strong>Control method:</strong>
  <%= @fan.control_method %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @fan.classification %>
</p>

<p>
  <strong>Centrifugal type:</strong>
  <%= @fan.centrifugal_type %>
</p>

<p>
  <strong>Modeling method:</strong>
  <%= @fan.modeling_method %>
</p>

<p>
  <strong>Flow capacity:</strong>
  <%= @fan.flow_capacity %>
</p>

<p>
  <strong>Flow minimum:</strong>
  <%= @fan.flow_minimum %>
</p>

<p>
  <strong>Flow efficiency:</strong>
  <%= @fan.flow_efficiency %>
</p>

<p>
  <strong>Total static pressure:</strong>
  <%= @fan.total_static_pressure %>
</p>

<p>
  <strong>Motor bhp:</strong>
  <%= @fan.motor_bhp %>
</p>

<p>
  <strong>Motor hp:</strong>
  <%= @fan.motor_hp %>
</p>

<p>
  <strong>Motor type:</strong>
  <%= @fan.motor_type %>
</p>

<p>
  <strong>Motor pole count:</strong>
  <%= @fan.motor_pole_count %>
</p>

<p>
  <strong>Motor efficiency:</strong>
  <%= @fan.motor_efficiency %>
</p>

<p>
  <strong>Motor position:</strong>
  <%= @fan.motor_position %>
</p>

<%= link_to 'Edit', edit_fan_path(@fan) %> |
<%= link_to 'Back', fans_path %>
