<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Building energy model version:</strong>
  <%= @project.building_energy_model_version %>
</p>

<p>
  <strong>Geometry input type:</strong>
  <%= @project.geometry_input_type %>
</p>

<p>
  <strong>Number time steps per hour:</strong>
  <%= @project.number_time_steps_per_hour %>
</p>

<p>
  <strong>Permit scope:</strong>
  <%= @project.permit_scope %>
</p>

<p>
  <strong>Permit month:</strong>
  <%= @project.permit_month %>
</p>

<p>
  <strong>Permit day:</strong>
  <%= @project.permit_day %>
</p>

<p>
  <strong>Permit year:</strong>
  <%= @project.permit_year %>
</p>

<p>
  <strong>Climate zone county:</strong>
  <%= @project.climate_zone_county %>
</p>

<p>
  <strong>Climate zone number:</strong>
  <%= @project.climate_zone_number %>
</p>

<p>
  <strong>Climate zone:</strong>
  <%= @project.climate_zone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @project.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @project.longitude %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @project.elevation %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @project.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @project.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @project.zip_code %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @project.owner_name %>
</p>

<p>
  <strong>Owner title:</strong>
  <%= @project.owner_title %>
</p>

<p>
  <strong>Owner organization:</strong>
  <%= @project.owner_organization %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @project.owner_email %>
</p>

<p>
  <strong>Owner phone:</strong>
  <%= @project.owner_phone %>
</p>

<p>
  <strong>Architect name:</strong>
  <%= @project.architect_name %>
</p>

<p>
  <strong>Architect title:</strong>
  <%= @project.architect_title %>
</p>

<p>
  <strong>Architect organization:</strong>
  <%= @project.architect_organization %>
</p>

<p>
  <strong>Architect email:</strong>
  <%= @project.architect_email %>
</p>

<p>
  <strong>Architect phone:</strong>
  <%= @project.architect_phone %>
</p>

<p>
  <strong>Hvac engineer name:</strong>
  <%= @project.hvac_engineer_name %>
</p>

<p>
  <strong>Hvac engineer title:</strong>
  <%= @project.hvac_engineer_title %>
</p>

<p>
  <strong>Hvac engineer organization:</strong>
  <%= @project.hvac_engineer_organization %>
</p>

<p>
  <strong>Hvac engineer email:</strong>
  <%= @project.hvac_engineer_email %>
</p>

<p>
  <strong>Hvac engineer phone:</strong>
  <%= @project.hvac_engineer_phone %>
</p>

<p>
  <strong>Lighting designer name:</strong>
  <%= @project.lighting_designer_name %>
</p>

<p>
  <strong>Lighting designer title:</strong>
  <%= @project.lighting_designer_title %>
</p>

<p>
  <strong>Lighting designer organization:</strong>
  <%= @project.lighting_designer_organization %>
</p>

<p>
  <strong>Lighting designer email:</strong>
  <%= @project.lighting_designer_email %>
</p>

<p>
  <strong>Lighting designer phone:</strong>
  <%= @project.lighting_designer_phone %>
</p>

<p>
  <strong>Energy modeler name:</strong>
  <%= @project.energy_modeler_name %>
</p>

<p>
  <strong>Energy modeler title:</strong>
  <%= @project.energy_modeler_title %>
</p>

<p>
  <strong>Energy modeler organization:</strong>
  <%= @project.energy_modeler_organization %>
</p>

<p>
  <strong>Energy modeler email:</strong>
  <%= @project.energy_modeler_email %>
</p>

<p>
  <strong>Energy modeler phone:</strong>
  <%= @project.energy_modeler_phone %>
</p>

<p>
  <strong>Weather station number:</strong>
  <%= @project.weather_station_number %>
</p>

<p>
  <strong>Weather station:</strong>
  <%= @project.weather_station %>
</p>

<p>
  <strong>Design day weather file:</strong>
  <%= @project.design_day_weather_file %>
</p>

<p>
  <strong>Annual weather file:</strong>
  <%= @project.annual_weather_file %>
</p>

<p>
  <strong>Weather file download url:</strong>
  <%= @project.weather_file_download_url %>
</p>

<p>
  <strong>Site fuel type:</strong>
  <%= @project.site_fuel_type %>
</p>

<p>
  <strong>Hvac auto sizing:</strong>
  <%= @project.hvac_auto_sizing %>
</p>

<p>
  <strong>Simulate design days:</strong>
  <%= @project.simulate_design_days %>
</p>

<p>
  <strong>Run period begin month:</strong>
  <%= @project.run_period_begin_month %>
</p>

<p>
  <strong>Run period begin day:</strong>
  <%= @project.run_period_begin_day %>
</p>

<p>
  <strong>Run period end month:</strong>
  <%= @project.run_period_end_month %>
</p>

<p>
  <strong>Run period end day:</strong>
  <%= @project.run_period_end_day %>
</p>

<p>
  <strong>Run period year:</strong>
  <%= @project.run_period_year %>
</p>

<p>
  <strong>Exceptional condition complete building:</strong>
  <%= @project.exceptional_condition_complete_building %>
</p>

<p>
  <strong>Exceptional condition exterior lighting:</strong>
  <%= @project.exceptional_condition_exterior_lighting %>
</p>

<p>
  <strong>Exceptional condition no cooling system:</strong>
  <%= @project.exceptional_condition_no_cooling_system %>
</p>

<p>
  <strong>Exceptional condition rated capacity:</strong>
  <%= @project.exceptional_condition_rated_capacity %>
</p>

<p>
  <strong>Exceptional condition water heater:</strong>
  <%= @project.exceptional_condition_water_heater %>
</p>

<p>
  <strong>Exceptional condition narrative:</strong>
  <%= @project.exceptional_condition_narrative %>
</p>

<p>
  <strong>Disable daylighting controls:</strong>
  <%= @project.disable_daylighting_controls %>
</p>

<p>
  <strong>Default daylighting controls:</strong>
  <%= @project.default_daylighting_controls %>
</p>

<p>
  <strong>Simulation variables site:</strong>
  <%= @project.simulation_variables_site %>
</p>

<p>
  <strong>Simulation variables thermal zone:</strong>
  <%= @project.simulation_variables_thermal_zone %>
</p>

<p>
  <strong>Simulation variables daylighting:</strong>
  <%= @project.simulation_variables_daylighting %>
</p>

<p>
  <strong>Simulation variables hvac secondary:</strong>
  <%= @project.simulation_variables_hvac_secondary %>
</p>

<p>
  <strong>Simulation variables hvac primary:</strong>
  <%= @project.simulation_variables_hvac_primary %>
</p>

<p>
  <strong>Simulation variables hvac zone:</strong>
  <%= @project.simulation_variables_hvac_zone %>
</p>

<p>
  <strong>Average dry bulb temperature:</strong>
  <%= @project.average_dry_bulb_temperature %>
</p>

<p>
  <strong>Monthly average temperature maximum difference:</strong>
  <%= @project.monthly_average_temperature_maximum_difference %>
</p>

<p>
  <strong>Holiday reference:</strong>
  <%= @project.holiday_reference %>
</p>

<p>
  <strong>Run title:</strong>
  <%= @project.run_title %>
</p>

<p>
  <strong>Analysis type:</strong>
  <%= @project.analysis_type %>
</p>

<p>
  <strong>Compliance type:</strong>
  <%= @project.compliance_type %>
</p>

<p>
  <strong>Rule report type:</strong>
  <%= @project.rule_report_type %>
</p>

<p>
  <strong>Rule report file append:</strong>
  <%= @project.rule_report_file_append %>
</p>

<p>
  <strong>Software version:</strong>
  <%= @project.software_version %>
</p>

<p>
  <strong>Compliance report pdf:</strong>
  <%= @project.compliance_report_pdf %>
</p>

<p>
  <strong>Compliance report xml:</strong>
  <%= @project.compliance_report_xml %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
