<h1>Listing buildings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Function classification method</th>
      <th>Relocatable public school building</th>
      <th>Whole building modeled</th>
      <th>Building azimuth</th>
      <th>Total story count</th>
      <th>Total story count new</th>
      <th>Total story count existing</th>
      <th>Total story count altered</th>
      <th>Above grade story count</th>
      <th>Above grade story count new</th>
      <th>Above grade story count existing</th>
      <th>Above grade story count altered</th>
      <th>Living unit count</th>
      <th>Living unit count new</th>
      <th>Living unit count existing</th>
      <th>Living unit count altered</th>
      <th>Total floor area</th>
      <th>Nonresidential floor area</th>
      <th>Residential floor area</th>
      <th>Total conditioned volume</th>
      <th>Plant cooling capacity</th>
      <th>Plant heating capacity</th>
      <th>Coil cooling capacity</th>
      <th>Coil heating capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.name %></td>
        <td><%= building.function_classification_method %></td>
        <td><%= building.relocatable_public_school_building %></td>
        <td><%= building.whole_building_modeled %></td>
        <td><%= building.building_azimuth %></td>
        <td><%= building.total_story_count %></td>
        <td><%= building.total_story_count_new %></td>
        <td><%= building.total_story_count_existing %></td>
        <td><%= building.total_story_count_altered %></td>
        <td><%= building.above_grade_story_count %></td>
        <td><%= building.above_grade_story_count_new %></td>
        <td><%= building.above_grade_story_count_existing %></td>
        <td><%= building.above_grade_story_count_altered %></td>
        <td><%= building.living_unit_count %></td>
        <td><%= building.living_unit_count_new %></td>
        <td><%= building.living_unit_count_existing %></td>
        <td><%= building.living_unit_count_altered %></td>
        <td><%= building.total_floor_area %></td>
        <td><%= building.nonresidential_floor_area %></td>
        <td><%= building.residential_floor_area %></td>
        <td><%= building.total_conditioned_volume %></td>
        <td><%= building.plant_cooling_capacity %></td>
        <td><%= building.plant_heating_capacity %></td>
        <td><%= building.coil_cooling_capacity %></td>
        <td><%= building.coil_heating_capacity %></td>
        <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path %>
