<%= form_for(@curve_linear) do |f| %>
  <% if @curve_linear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curve_linear.errors.count, "error") %> prohibited this curve_linear from being saved:</h2>

      <ul>
      <% @curve_linear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :curve_coefficient1 %><br>
    <%= f.text_field :curve_coefficient1 %>
  </div>
  <div class="field">
    <%= f.label :curve_coefficient2 %><br>
    <%= f.text_field :curve_coefficient2 %>
  </div>
  <div class="field">
    <%= f.label :curve_maximum_out %><br>
    <%= f.text_field :curve_maximum_out %>
  </div>
  <div class="field">
    <%= f.label :curve_maximum_var1 %><br>
    <%= f.text_field :curve_maximum_var1 %>
  </div>
  <div class="field">
    <%= f.label :curve_minimum_out %><br>
    <%= f.text_field :curve_minimum_out %>
  </div>
  <div class="field">
    <%= f.label :curve_minimum_var1 %><br>
    <%= f.text_field :curve_minimum_var1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
