<h1>Listing curve_linears</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curve_linears.each do |curve_linear| %>
      <tr>
        <td><%= curve_linear.name %></td>
        <td><%= link_to 'Show', curve_linear %></td>
        <td><%= link_to 'Edit', edit_curve_linear_path(curve_linear) %></td>
        <td><%= link_to 'Destroy', curve_linear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curve linear', new_curve_linear_path %>
