<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @curve_linear.name %>
</p>

<p>
  <strong>Curve coefficient1:</strong>
  <%= @curve_linear.curve_coefficient1 %>
</p>

<p>
  <strong>Curve coefficient2:</strong>
  <%= @curve_linear.curve_coefficient2 %>
</p>

<p>
  <strong>Curve maximum out:</strong>
  <%= @curve_linear.curve_maximum_out %>
</p>

<p>
  <strong>Curve maximum var1:</strong>
  <%= @curve_linear.curve_maximum_var1 %>
</p>

<p>
  <strong>Curve minimum out:</strong>
  <%= @curve_linear.curve_minimum_out %>
</p>

<p>
  <strong>Curve minimum var1:</strong>
  <%= @curve_linear.curve_minimum_var1 %>
</p>

<%= link_to 'Edit', edit_curve_linear_path(@curve_linear) %> |
<%= link_to 'Back', curve_linears_path %>
