<%= form_for(@recirculation_dhw_system) do |f| %>
  <% if @recirculation_dhw_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recirculation_dhw_system.errors.count, "error") %> prohibited this recirculation_dhw_system from being saved:</h2>

      <ul>
      <% @recirculation_dhw_system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :multiplier %><br>
    <%= f.text_field :multiplier %>
  </div>
  <div class="field">
    <%= f.label :central_system %><br>
    <%= f.text_field :central_system %>
  </div>
  <div class="field">
    <%= f.label :distribution_type %><br>
    <%= f.text_field :distribution_type %>
  </div>
  <div class="field">
    <%= f.label :pump_power %><br>
    <%= f.text_field :pump_power %>
  </div>
  <div class="field">
    <%= f.label :pump_efficiency %><br>
    <%= f.text_field :pump_efficiency %>
  </div>
  <div class="field">
    <%= f.label :system_story_count %><br>
    <%= f.text_field :system_story_count %>
  </div>
  <div class="field">
    <%= f.label :living_unit_count %><br>
    <%= f.text_field :living_unit_count %>
  </div>
  <div class="field">
    <%= f.label :water_heater_count %><br>
    <%= f.text_field :water_heater_count %>
  </div>
  <div class="field">
    <%= f.label :total_input_rating %><br>
    <%= f.text_field :total_input_rating %>
  </div>
  <div class="field">
    <%= f.label :total_tank_volume %><br>
    <%= f.text_field :total_tank_volume %>
  </div>
  <div class="field">
    <%= f.label :baseline_recirculation_water_heater_reference %><br>
    <%= f.text_field :baseline_recirculation_water_heater_reference %>
  </div>
  <div class="field">
    <%= f.label :use_default_loops %><br>
    <%= f.text_field :use_default_loops %>
  </div>
  <div class="field">
    <%= f.label :pipe_length %><br>
    <%= f.text_field :pipe_length %>
  </div>
  <div class="field">
    <%= f.label :pipe_diameter %><br>
    <%= f.text_field :pipe_diameter %>
  </div>
  <div class="field">
    <%= f.label :pipe_location %><br>
    <%= f.text_field :pipe_location %>
  </div>
  <div class="field">
    <%= f.label :loop_count %><br>
    <%= f.text_field :loop_count %>
  </div>
  <div class="field">
    <%= f.label :pipe_extra_insulation %><br>
    <%= f.text_field :pipe_extra_insulation %>
  </div>
  <div class="field">
    <%= f.label :annual_solar_fraction %><br>
    <%= f.text_field :annual_solar_fraction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
