<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recirculation_dhw_system.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recirculation_dhw_system.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @recirculation_dhw_system.type %>
</p>

<p>
  <strong>Multiplier:</strong>
  <%= @recirculation_dhw_system.multiplier %>
</p>

<p>
  <strong>Central system:</strong>
  <%= @recirculation_dhw_system.central_system %>
</p>

<p>
  <strong>Distribution type:</strong>
  <%= @recirculation_dhw_system.distribution_type %>
</p>

<p>
  <strong>Pump power:</strong>
  <%= @recirculation_dhw_system.pump_power %>
</p>

<p>
  <strong>Pump efficiency:</strong>
  <%= @recirculation_dhw_system.pump_efficiency %>
</p>

<p>
  <strong>System story count:</strong>
  <%= @recirculation_dhw_system.system_story_count %>
</p>

<p>
  <strong>Living unit count:</strong>
  <%= @recirculation_dhw_system.living_unit_count %>
</p>

<p>
  <strong>Water heater count:</strong>
  <%= @recirculation_dhw_system.water_heater_count %>
</p>

<p>
  <strong>Total input rating:</strong>
  <%= @recirculation_dhw_system.total_input_rating %>
</p>

<p>
  <strong>Total tank volume:</strong>
  <%= @recirculation_dhw_system.total_tank_volume %>
</p>

<p>
  <strong>Baseline recirculation water heater reference:</strong>
  <%= @recirculation_dhw_system.baseline_recirculation_water_heater_reference %>
</p>

<p>
  <strong>Use default loops:</strong>
  <%= @recirculation_dhw_system.use_default_loops %>
</p>

<p>
  <strong>Pipe length:</strong>
  <%= @recirculation_dhw_system.pipe_length %>
</p>

<p>
  <strong>Pipe diameter:</strong>
  <%= @recirculation_dhw_system.pipe_diameter %>
</p>

<p>
  <strong>Pipe location:</strong>
  <%= @recirculation_dhw_system.pipe_location %>
</p>

<p>
  <strong>Loop count:</strong>
  <%= @recirculation_dhw_system.loop_count %>
</p>

<p>
  <strong>Pipe extra insulation:</strong>
  <%= @recirculation_dhw_system.pipe_extra_insulation %>
</p>

<p>
  <strong>Annual solar fraction:</strong>
  <%= @recirculation_dhw_system.annual_solar_fraction %>
</p>

<%= link_to 'Edit', edit_recirculation_dhw_system_path(@recirculation_dhw_system) %> |
<%= link_to 'Back', recirculation_dhw_systems_path %>
