<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recirculation_dhw_system.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recirculation_dhw_system.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @recirculation_dhw_system.type %>
</p>

<%= link_to 'Edit', edit_recirculation_dhw_system_path(@recirculation_dhw_system) %> |
<%= link_to 'Back', recirculation_dhw_systems_path %>
