<%= form_for(@fluid_segment) do |f| %>
  <% if @fluid_segment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fluid_segment.errors.count, "error") %> prohibited this fluid_segment from being saved:</h2>

      <ul>
      <% @fluid_segment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
