<h1>Listing fluid_segments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Source</th>
      <th>Primary segment reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fluid_segments.each do |fluid_segment| %>
      <tr>
        <td><%= fluid_segment.name %></td>
        <td><%= fluid_segment.type %></td>
        <td><%= fluid_segment.source %></td>
        <td><%= fluid_segment.primary_segment_reference %></td>
        <td><%= link_to 'Show', fluid_segment %></td>
        <td><%= link_to 'Edit', edit_fluid_segment_path(fluid_segment) %></td>
        <td><%= link_to 'Destroy', fluid_segment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fluid segment', new_fluid_segment_path %>
