<h1>Listing space_function_defaults</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Space function</th>
      <th>Function schedule group</th>
      <th>Occupant density</th>
      <th>Occupant sensible heat rate</th>
      <th>Occupant latent heat rate</th>
      <th>Occupant schedule reference</th>
      <th>Ventilation per person</th>
      <th>Ventilation per area</th>
      <th>Ventilation air changes per hour</th>
      <th>Exhaust per area</th>
      <th>Exhaust air changes per hour</th>
      <th>Interior lighting power density regulated</th>
      <th>Interior lighting regulated schedule reference</th>
      <th>Interior lighting regulated heat gain space fraction</th>
      <th>Interior lighting regulated heat gain radiant fraction</th>
      <th>Interior lighting power density non regulated</th>
      <th>Interior lighting non regulated schedule reference</th>
      <th>Interior lighting non regulated heat gain space fraction</th>
      <th>Interior lighting non regulated heat gain radiant fraction</th>
      <th>Receptacle power density</th>
      <th>Receptacle schedule reference</th>
      <th>Receptacle radiation fraction</th>
      <th>Receptacle latent fraction</th>
      <th>Receptacle lost fraction</th>
      <th>Gas equipment power density</th>
      <th>Gas equipment schedule reference</th>
      <th>Gas equipment radiation fraction</th>
      <th>Gas equipment latent fraction</th>
      <th>Gas equipment lost fraction</th>
      <th>Process electrical power density</th>
      <th>Process electrical schedule reference</th>
      <th>Process electrical radiation fraction</th>
      <th>Process electrical latent fraction</th>
      <th>Process electrical lost fraction</th>
      <th>Commercial refrigeration epd</th>
      <th>Commercial refrigeration equipment schedule reference</th>
      <th>Commercial refrigeration radiation fraction</th>
      <th>Commercial refrigeration latent fraction</th>
      <th>Commercial refrigeration lost fraction</th>
      <th>Elevator count</th>
      <th>Elevator power</th>
      <th>Elevator schedule reference</th>
      <th>Elevator radiation fraction</th>
      <th>Elevator latent fraction</th>
      <th>Elevator lost fraction</th>
      <th>Escalator count</th>
      <th>Escalator power</th>
      <th>Escalator schedule reference</th>
      <th>Escalator radiation fraction</th>
      <th>Escalator latent fraction</th>
      <th>Escalator lost fraction</th>
      <th>Process gas power density</th>
      <th>Process gas schedule reference</th>
      <th>Process gas radiation fraction</th>
      <th>Process gas latent fraction</th>
      <th>Process gas lost fraction</th>
      <th>Hot water heating rate</th>
      <th>Hot water heating schedule reference</th>
      <th>Shw fluid segment reference</th>
      <th>Recirculation dhw system reference</th>
      <th>Infiltration method</th>
      <th>Design infiltration rate</th>
      <th>Infiltration schedule reference</th>
      <th>Infiltration model coefficient a</th>
      <th>Infiltration model coefficient b</th>
      <th>Infiltration model coefficient c</th>
      <th>Infiltration model coefficient d</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @space_function_defaults.each do |space_function_default| %>
      <tr>
        <td><%= space_function_default.name %></td>
        <td><%= space_function_default.space_function %></td>
        <td><%= space_function_default.function_schedule_group %></td>
        <td><%= space_function_default.occupant_density %></td>
        <td><%= space_function_default.occupant_sensible_heat_rate %></td>
        <td><%= space_function_default.occupant_latent_heat_rate %></td>
        <td><%= space_function_default.occupant_schedule_reference %></td>
        <td><%= space_function_default.ventilation_per_person %></td>
        <td><%= space_function_default.ventilation_per_area %></td>
        <td><%= space_function_default.ventilation_air_changes_per_hour %></td>
        <td><%= space_function_default.exhaust_per_area %></td>
        <td><%= space_function_default.exhaust_air_changes_per_hour %></td>
        <td><%= space_function_default.interior_lighting_power_density_regulated %></td>
        <td><%= space_function_default.interior_lighting_regulated_schedule_reference %></td>
        <td><%= space_function_default.interior_lighting_regulated_heat_gain_space_fraction %></td>
        <td><%= space_function_default.interior_lighting_regulated_heat_gain_radiant_fraction %></td>
        <td><%= space_function_default.interior_lighting_power_density_non_regulated %></td>
        <td><%= space_function_default.interior_lighting_non_regulated_schedule_reference %></td>
        <td><%= space_function_default.interior_lighting_non_regulated_heat_gain_space_fraction %></td>
        <td><%= space_function_default.interior_lighting_non_regulated_heat_gain_radiant_fraction %></td>
        <td><%= space_function_default.receptacle_power_density %></td>
        <td><%= space_function_default.receptacle_schedule_reference %></td>
        <td><%= space_function_default.receptacle_radiation_fraction %></td>
        <td><%= space_function_default.receptacle_latent_fraction %></td>
        <td><%= space_function_default.receptacle_lost_fraction %></td>
        <td><%= space_function_default.gas_equipment_power_density %></td>
        <td><%= space_function_default.gas_equipment_schedule_reference %></td>
        <td><%= space_function_default.gas_equipment_radiation_fraction %></td>
        <td><%= space_function_default.gas_equipment_latent_fraction %></td>
        <td><%= space_function_default.gas_equipment_lost_fraction %></td>
        <td><%= space_function_default.process_electrical_power_density %></td>
        <td><%= space_function_default.process_electrical_schedule_reference %></td>
        <td><%= space_function_default.process_electrical_radiation_fraction %></td>
        <td><%= space_function_default.process_electrical_latent_fraction %></td>
        <td><%= space_function_default.process_electrical_lost_fraction %></td>
        <td><%= space_function_default.commercial_refrigeration_epd %></td>
        <td><%= space_function_default.commercial_refrigeration_equipment_schedule_reference %></td>
        <td><%= space_function_default.commercial_refrigeration_radiation_fraction %></td>
        <td><%= space_function_default.commercial_refrigeration_latent_fraction %></td>
        <td><%= space_function_default.commercial_refrigeration_lost_fraction %></td>
        <td><%= space_function_default.elevator_count %></td>
        <td><%= space_function_default.elevator_power %></td>
        <td><%= space_function_default.elevator_schedule_reference %></td>
        <td><%= space_function_default.elevator_radiation_fraction %></td>
        <td><%= space_function_default.elevator_latent_fraction %></td>
        <td><%= space_function_default.elevator_lost_fraction %></td>
        <td><%= space_function_default.escalator_count %></td>
        <td><%= space_function_default.escalator_power %></td>
        <td><%= space_function_default.escalator_schedule_reference %></td>
        <td><%= space_function_default.escalator_radiation_fraction %></td>
        <td><%= space_function_default.escalator_latent_fraction %></td>
        <td><%= space_function_default.escalator_lost_fraction %></td>
        <td><%= space_function_default.process_gas_power_density %></td>
        <td><%= space_function_default.process_gas_schedule_reference %></td>
        <td><%= space_function_default.process_gas_radiation_fraction %></td>
        <td><%= space_function_default.process_gas_latent_fraction %></td>
        <td><%= space_function_default.process_gas_lost_fraction %></td>
        <td><%= space_function_default.hot_water_heating_rate %></td>
        <td><%= space_function_default.hot_water_heating_schedule_reference %></td>
        <td><%= space_function_default.shw_fluid_segment_reference %></td>
        <td><%= space_function_default.recirculation_dhw_system_reference %></td>
        <td><%= space_function_default.infiltration_method %></td>
        <td><%= space_function_default.design_infiltration_rate %></td>
        <td><%= space_function_default.infiltration_schedule_reference %></td>
        <td><%= space_function_default.infiltration_model_coefficient_a %></td>
        <td><%= space_function_default.infiltration_model_coefficient_b %></td>
        <td><%= space_function_default.infiltration_model_coefficient_c %></td>
        <td><%= space_function_default.infiltration_model_coefficient_d %></td>
        <td><%= link_to 'Show', space_function_default %></td>
        <td><%= link_to 'Edit', edit_space_function_default_path(space_function_default) %></td>
        <td><%= link_to 'Destroy', space_function_default, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space function default', new_space_function_default_path %>
