<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space_function_default.name %>
</p>

<p>
  <strong>Space function:</strong>
  <%= @space_function_default.space_function %>
</p>

<p>
  <strong>Function schedule group:</strong>
  <%= @space_function_default.function_schedule_group %>
</p>

<p>
  <strong>Occupant density:</strong>
  <%= @space_function_default.occupant_density %>
</p>

<p>
  <strong>Occupant sensible heat rate:</strong>
  <%= @space_function_default.occupant_sensible_heat_rate %>
</p>

<p>
  <strong>Occupant latent heat rate:</strong>
  <%= @space_function_default.occupant_latent_heat_rate %>
</p>

<p>
  <strong>Occupant schedule reference:</strong>
  <%= @space_function_default.occupant_schedule_reference %>
</p>

<p>
  <strong>Ventilation per person:</strong>
  <%= @space_function_default.ventilation_per_person %>
</p>

<p>
  <strong>Ventilation per area:</strong>
  <%= @space_function_default.ventilation_per_area %>
</p>

<p>
  <strong>Ventilation air changes per hour:</strong>
  <%= @space_function_default.ventilation_air_changes_per_hour %>
</p>

<p>
  <strong>Exhaust per area:</strong>
  <%= @space_function_default.exhaust_per_area %>
</p>

<p>
  <strong>Exhaust air changes per hour:</strong>
  <%= @space_function_default.exhaust_air_changes_per_hour %>
</p>

<p>
  <strong>Interior lighting power density regulated:</strong>
  <%= @space_function_default.interior_lighting_power_density_regulated %>
</p>

<p>
  <strong>Interior lighting regulated schedule reference:</strong>
  <%= @space_function_default.interior_lighting_regulated_schedule_reference %>
</p>

<p>
  <strong>Interior lighting regulated heat gain space fraction:</strong>
  <%= @space_function_default.interior_lighting_regulated_heat_gain_space_fraction %>
</p>

<p>
  <strong>Interior lighting regulated heat gain radiant fraction:</strong>
  <%= @space_function_default.interior_lighting_regulated_heat_gain_radiant_fraction %>
</p>

<p>
  <strong>Interior lighting power density non regulated:</strong>
  <%= @space_function_default.interior_lighting_power_density_non_regulated %>
</p>

<p>
  <strong>Interior lighting non regulated schedule reference:</strong>
  <%= @space_function_default.interior_lighting_non_regulated_schedule_reference %>
</p>

<p>
  <strong>Interior lighting non regulated heat gain space fraction:</strong>
  <%= @space_function_default.interior_lighting_non_regulated_heat_gain_space_fraction %>
</p>

<p>
  <strong>Interior lighting non regulated heat gain radiant fraction:</strong>
  <%= @space_function_default.interior_lighting_non_regulated_heat_gain_radiant_fraction %>
</p>

<p>
  <strong>Receptacle power density:</strong>
  <%= @space_function_default.receptacle_power_density %>
</p>

<p>
  <strong>Receptacle schedule reference:</strong>
  <%= @space_function_default.receptacle_schedule_reference %>
</p>

<p>
  <strong>Receptacle radiation fraction:</strong>
  <%= @space_function_default.receptacle_radiation_fraction %>
</p>

<p>
  <strong>Receptacle latent fraction:</strong>
  <%= @space_function_default.receptacle_latent_fraction %>
</p>

<p>
  <strong>Receptacle lost fraction:</strong>
  <%= @space_function_default.receptacle_lost_fraction %>
</p>

<p>
  <strong>Gas equipment power density:</strong>
  <%= @space_function_default.gas_equipment_power_density %>
</p>

<p>
  <strong>Gas equipment schedule reference:</strong>
  <%= @space_function_default.gas_equipment_schedule_reference %>
</p>

<p>
  <strong>Gas equipment radiation fraction:</strong>
  <%= @space_function_default.gas_equipment_radiation_fraction %>
</p>

<p>
  <strong>Gas equipment latent fraction:</strong>
  <%= @space_function_default.gas_equipment_latent_fraction %>
</p>

<p>
  <strong>Gas equipment lost fraction:</strong>
  <%= @space_function_default.gas_equipment_lost_fraction %>
</p>

<p>
  <strong>Process electrical power density:</strong>
  <%= @space_function_default.process_electrical_power_density %>
</p>

<p>
  <strong>Process electrical schedule reference:</strong>
  <%= @space_function_default.process_electrical_schedule_reference %>
</p>

<p>
  <strong>Process electrical radiation fraction:</strong>
  <%= @space_function_default.process_electrical_radiation_fraction %>
</p>

<p>
  <strong>Process electrical latent fraction:</strong>
  <%= @space_function_default.process_electrical_latent_fraction %>
</p>

<p>
  <strong>Process electrical lost fraction:</strong>
  <%= @space_function_default.process_electrical_lost_fraction %>
</p>

<p>
  <strong>Commercial refrigeration epd:</strong>
  <%= @space_function_default.commercial_refrigeration_epd %>
</p>

<p>
  <strong>Commercial refrigeration equipment schedule reference:</strong>
  <%= @space_function_default.commercial_refrigeration_equipment_schedule_reference %>
</p>

<p>
  <strong>Commercial refrigeration radiation fraction:</strong>
  <%= @space_function_default.commercial_refrigeration_radiation_fraction %>
</p>

<p>
  <strong>Commercial refrigeration latent fraction:</strong>
  <%= @space_function_default.commercial_refrigeration_latent_fraction %>
</p>

<p>
  <strong>Commercial refrigeration lost fraction:</strong>
  <%= @space_function_default.commercial_refrigeration_lost_fraction %>
</p>

<p>
  <strong>Elevator count:</strong>
  <%= @space_function_default.elevator_count %>
</p>

<p>
  <strong>Elevator power:</strong>
  <%= @space_function_default.elevator_power %>
</p>

<p>
  <strong>Elevator schedule reference:</strong>
  <%= @space_function_default.elevator_schedule_reference %>
</p>

<p>
  <strong>Elevator radiation fraction:</strong>
  <%= @space_function_default.elevator_radiation_fraction %>
</p>

<p>
  <strong>Elevator latent fraction:</strong>
  <%= @space_function_default.elevator_latent_fraction %>
</p>

<p>
  <strong>Elevator lost fraction:</strong>
  <%= @space_function_default.elevator_lost_fraction %>
</p>

<p>
  <strong>Escalator count:</strong>
  <%= @space_function_default.escalator_count %>
</p>

<p>
  <strong>Escalator power:</strong>
  <%= @space_function_default.escalator_power %>
</p>

<p>
  <strong>Escalator schedule reference:</strong>
  <%= @space_function_default.escalator_schedule_reference %>
</p>

<p>
  <strong>Escalator radiation fraction:</strong>
  <%= @space_function_default.escalator_radiation_fraction %>
</p>

<p>
  <strong>Escalator latent fraction:</strong>
  <%= @space_function_default.escalator_latent_fraction %>
</p>

<p>
  <strong>Escalator lost fraction:</strong>
  <%= @space_function_default.escalator_lost_fraction %>
</p>

<p>
  <strong>Process gas power density:</strong>
  <%= @space_function_default.process_gas_power_density %>
</p>

<p>
  <strong>Process gas schedule reference:</strong>
  <%= @space_function_default.process_gas_schedule_reference %>
</p>

<p>
  <strong>Process gas radiation fraction:</strong>
  <%= @space_function_default.process_gas_radiation_fraction %>
</p>

<p>
  <strong>Process gas latent fraction:</strong>
  <%= @space_function_default.process_gas_latent_fraction %>
</p>

<p>
  <strong>Process gas lost fraction:</strong>
  <%= @space_function_default.process_gas_lost_fraction %>
</p>

<p>
  <strong>Hot water heating rate:</strong>
  <%= @space_function_default.hot_water_heating_rate %>
</p>

<p>
  <strong>Hot water heating schedule reference:</strong>
  <%= @space_function_default.hot_water_heating_schedule_reference %>
</p>

<p>
  <strong>Shw fluid segment reference:</strong>
  <%= @space_function_default.shw_fluid_segment_reference %>
</p>

<p>
  <strong>Recirculation dhw system reference:</strong>
  <%= @space_function_default.recirculation_dhw_system_reference %>
</p>

<p>
  <strong>Infiltration method:</strong>
  <%= @space_function_default.infiltration_method %>
</p>

<p>
  <strong>Design infiltration rate:</strong>
  <%= @space_function_default.design_infiltration_rate %>
</p>

<p>
  <strong>Infiltration schedule reference:</strong>
  <%= @space_function_default.infiltration_schedule_reference %>
</p>

<p>
  <strong>Infiltration model coefficient a:</strong>
  <%= @space_function_default.infiltration_model_coefficient_a %>
</p>

<p>
  <strong>Infiltration model coefficient b:</strong>
  <%= @space_function_default.infiltration_model_coefficient_b %>
</p>

<p>
  <strong>Infiltration model coefficient c:</strong>
  <%= @space_function_default.infiltration_model_coefficient_c %>
</p>

<p>
  <strong>Infiltration model coefficient d:</strong>
  <%= @space_function_default.infiltration_model_coefficient_d %>
</p>

<%= link_to 'Edit', edit_space_function_default_path(@space_function_default) %> |
<%= link_to 'Back', space_function_defaults_path %>
