<%= form_for(@terminal_unit) do |f| %>
  <% if @terminal_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terminal_unit.errors.count, "error") %> prohibited this terminal_unit from being saved:</h2>

      <ul>
      <% @terminal_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :zone_served_reference %><br>
    <%= f.text_field :zone_served_reference %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.text_field :count %>
  </div>
  <div class="field">
    <%= f.label :minimum_air_fraction_schedule_reference %><br>
    <%= f.text_field :minimum_air_fraction_schedule_reference %>
  </div>
  <div class="field">
    <%= f.label :primary_air_segment_reference %><br>
    <%= f.text_field :primary_air_segment_reference %>
  </div>
  <div class="field">
    <%= f.label :primary_air_flow_maximum %><br>
    <%= f.text_field :primary_air_flow_maximum %>
  </div>
  <div class="field">
    <%= f.label :primary_air_flow_minimum %><br>
    <%= f.text_field :primary_air_flow_minimum %>
  </div>
  <div class="field">
    <%= f.label :heating_air_flow_maximum %><br>
    <%= f.text_field :heating_air_flow_maximum %>
  </div>
  <div class="field">
    <%= f.label :reheat_control_method %><br>
    <%= f.text_field :reheat_control_method %>
  </div>
  <div class="field">
    <%= f.label :induced_air_zone_reference %><br>
    <%= f.text_field :induced_air_zone_reference %>
  </div>
  <div class="field">
    <%= f.label :induction_ratio %><br>
    <%= f.text_field :induction_ratio %>
  </div>
  <div class="field">
    <%= f.label :fan_power_per_flow %><br>
    <%= f.text_field :fan_power_per_flow %>
  </div>
  <div class="field">
    <%= f.label :parallel_box_fan_flow_fraction %><br>
    <%= f.text_field :parallel_box_fan_flow_fraction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
