<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @terminal_unit.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @terminal_unit.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @terminal_unit.type %>
</p>

<p>
  <strong>Zone served reference:</strong>
  <%= @terminal_unit.zone_served_reference %>
</p>

<p>
  <strong>Count:</strong>
  <%= @terminal_unit.count %>
</p>

<p>
  <strong>Minimum air fraction schedule reference:</strong>
  <%= @terminal_unit.minimum_air_fraction_schedule_reference %>
</p>

<p>
  <strong>Primary air segment reference:</strong>
  <%= @terminal_unit.primary_air_segment_reference %>
</p>

<p>
  <strong>Primary air flow maximum:</strong>
  <%= @terminal_unit.primary_air_flow_maximum %>
</p>

<p>
  <strong>Primary air flow minimum:</strong>
  <%= @terminal_unit.primary_air_flow_minimum %>
</p>

<p>
  <strong>Heating air flow maximum:</strong>
  <%= @terminal_unit.heating_air_flow_maximum %>
</p>

<p>
  <strong>Reheat control method:</strong>
  <%= @terminal_unit.reheat_control_method %>
</p>

<p>
  <strong>Induced air zone reference:</strong>
  <%= @terminal_unit.induced_air_zone_reference %>
</p>

<p>
  <strong>Induction ratio:</strong>
  <%= @terminal_unit.induction_ratio %>
</p>

<p>
  <strong>Fan power per flow:</strong>
  <%= @terminal_unit.fan_power_per_flow %>
</p>

<p>
  <strong>Parallel box fan flow fraction:</strong>
  <%= @terminal_unit.parallel_box_fan_flow_fraction %>
</p>

<%= link_to 'Edit', edit_terminal_unit_path(@terminal_unit) %> |
<%= link_to 'Back', terminal_units_path %>
