<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @curve_cubic.name %>
</p>

<p>
  <strong>Curve coefficient1:</strong>
  <%= @curve_cubic.curve_coefficient1 %>
</p>

<p>
  <strong>Curve coefficient2:</strong>
  <%= @curve_cubic.curve_coefficient2 %>
</p>

<p>
  <strong>Curve coefficient3:</strong>
  <%= @curve_cubic.curve_coefficient3 %>
</p>

<p>
  <strong>Curve coefficient4:</strong>
  <%= @curve_cubic.curve_coefficient4 %>
</p>

<p>
  <strong>Curve maximum out:</strong>
  <%= @curve_cubic.curve_maximum_out %>
</p>

<p>
  <strong>Curve maximum var1:</strong>
  <%= @curve_cubic.curve_maximum_var1 %>
</p>

<p>
  <strong>Curve minimum out:</strong>
  <%= @curve_cubic.curve_minimum_out %>
</p>

<p>
  <strong>Curve minimum var1:</strong>
  <%= @curve_cubic.curve_minimum_var1 %>
</p>

<%= link_to 'Edit', edit_curve_cubic_path(@curve_cubic) %> |
<%= link_to 'Back', curve_cubics_path %>
