<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @evaporative_cooler.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @evaporative_cooler.type %>
</p>

<%= link_to 'Edit', edit_evaporative_cooler_path(@evaporative_cooler) %> |
<%= link_to 'Back', evaporative_coolers_path %>
