<%= form_for(@cartesian_point) do |f| %>
  <% if @cartesian_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cartesian_point.errors.count, "error") %> prohibited this cartesian_point from being saved:</h2>

      <ul>
      <% @cartesian_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :coordinate %><br>
    <%= f.text_field :coordinate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
