<h1>Listing cartesian_points</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Coordinate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartesian_points.each do |cartesian_point| %>
      <tr>
        <td><%= cartesian_point.name %></td>
        <td><%= cartesian_point.coordinate %></td>
        <td><%= link_to 'Show', cartesian_point %></td>
        <td><%= link_to 'Edit', edit_cartesian_point_path(cartesian_point) %></td>
        <td><%= link_to 'Destroy', cartesian_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cartesian point', new_cartesian_point_path %>
