<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @underground_floor.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @underground_floor.status %>
</p>

<p>
  <strong>Construct assembly reference:</strong>
  <%= @underground_floor.construct_assembly_reference %>
</p>

<p>
  <strong>Area:</strong>
  <%= @underground_floor.area %>
</p>

<p>
  <strong>Perimeter exposed:</strong>
  <%= @underground_floor.perimeter_exposed %>
</p>

<p>
  <strong>Interior solar absorptance:</strong>
  <%= @underground_floor.interior_solar_absorptance %>
</p>

<p>
  <strong>Interior thermal absorptance:</strong>
  <%= @underground_floor.interior_thermal_absorptance %>
</p>

<p>
  <strong>Interior visible absorptance:</strong>
  <%= @underground_floor.interior_visible_absorptance %>
</p>

<%= link_to 'Edit', edit_underground_floor_path(@underground_floor) %> |
<%= link_to 'Back', underground_floors_path %>
