<h1>Listing curve_quadratics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curve_quadratics.each do |curve_quadratic| %>
      <tr>
        <td><%= curve_quadratic.name %></td>
        <td><%= link_to 'Show', curve_quadratic %></td>
        <td><%= link_to 'Edit', edit_curve_quadratic_path(curve_quadratic) %></td>
        <td><%= link_to 'Destroy', curve_quadratic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curve quadratic', new_curve_quadratic_path %>
