<h1>Listing exterior_floors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Construct assembly reference</th>
      <th>Area</th>
      <th>Exterior solar absorptance</th>
      <th>Exterior thermal absorptance</th>
      <th>Exterior visible absorptance</th>
      <th>Interior solar absorptance</th>
      <th>Interior thermal absorptance</th>
      <th>Interior visible absorptance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exterior_floors.each do |exterior_floor| %>
      <tr>
        <td><%= exterior_floor.name %></td>
        <td><%= exterior_floor.status %></td>
        <td><%= exterior_floor.construct_assembly_reference %></td>
        <td><%= exterior_floor.area %></td>
        <td><%= exterior_floor.exterior_solar_absorptance %></td>
        <td><%= exterior_floor.exterior_thermal_absorptance %></td>
        <td><%= exterior_floor.exterior_visible_absorptance %></td>
        <td><%= exterior_floor.interior_solar_absorptance %></td>
        <td><%= exterior_floor.interior_thermal_absorptance %></td>
        <td><%= exterior_floor.interior_visible_absorptance %></td>
        <td><%= link_to 'Show', exterior_floor %></td>
        <td><%= link_to 'Edit', edit_exterior_floor_path(exterior_floor) %></td>
        <td><%= link_to 'Destroy', exterior_floor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exterior floor', new_exterior_floor_path %>
