<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exterior_floor.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @exterior_floor.status %>
</p>

<p>
  <strong>Construct assembly reference:</strong>
  <%= @exterior_floor.construct_assembly_reference %>
</p>

<p>
  <strong>Area:</strong>
  <%= @exterior_floor.area %>
</p>

<p>
  <strong>Exterior solar absorptance:</strong>
  <%= @exterior_floor.exterior_solar_absorptance %>
</p>

<p>
  <strong>Exterior thermal absorptance:</strong>
  <%= @exterior_floor.exterior_thermal_absorptance %>
</p>

<p>
  <strong>Exterior visible absorptance:</strong>
  <%= @exterior_floor.exterior_visible_absorptance %>
</p>

<p>
  <strong>Interior solar absorptance:</strong>
  <%= @exterior_floor.interior_solar_absorptance %>
</p>

<p>
  <strong>Interior thermal absorptance:</strong>
  <%= @exterior_floor.interior_thermal_absorptance %>
</p>

<p>
  <strong>Interior visible absorptance:</strong>
  <%= @exterior_floor.interior_visible_absorptance %>
</p>

<%= link_to 'Edit', edit_exterior_floor_path(@exterior_floor) %> |
<%= link_to 'Back', exterior_floors_path %>
