<%= form_for(@recirculation_water_heater) do |f| %>
  <% if @recirculation_water_heater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recirculation_water_heater.errors.count, "error") %> prohibited this recirculation_water_heater from being saved:</h2>

      <ul>
      <% @recirculation_water_heater.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :element_type %><br>
    <%= f.text_field :element_type %>
  </div>
  <div class="field">
    <%= f.label :tank_category %><br>
    <%= f.text_field :tank_category %>
  </div>
  <div class="field">
    <%= f.label :tank_type %><br>
    <%= f.text_field :tank_type %>
  </div>
  <div class="field">
    <%= f.label :input_rating %><br>
    <%= f.text_field :input_rating %>
  </div>
  <div class="field">
    <%= f.label :energy_factor %><br>
    <%= f.text_field :energy_factor %>
  </div>
  <div class="field">
    <%= f.label :tank_volume %><br>
    <%= f.text_field :tank_volume %>
  </div>
  <div class="field">
    <%= f.label :tank_interior_insulation_r_value %><br>
    <%= f.text_field :tank_interior_insulation_r_value %>
  </div>
  <div class="field">
    <%= f.label :tank_exterior_insulation_r_value %><br>
    <%= f.text_field :tank_exterior_insulation_r_value %>
  </div>
  <div class="field">
    <%= f.label :ambient_condition %><br>
    <%= f.text_field :ambient_condition %>
  </div>
  <div class="field">
    <%= f.label :standby_loss_fraction %><br>
    <%= f.text_field :standby_loss_fraction %>
  </div>
  <div class="field">
    <%= f.label :thermal_efficiency %><br>
    <%= f.text_field :thermal_efficiency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
