<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recirculation_water_heater.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recirculation_water_heater.status %>
</p>

<p>
  <strong>Element type:</strong>
  <%= @recirculation_water_heater.element_type %>
</p>

<p>
  <strong>Tank category:</strong>
  <%= @recirculation_water_heater.tank_category %>
</p>

<p>
  <strong>Tank type:</strong>
  <%= @recirculation_water_heater.tank_type %>
</p>

<p>
  <strong>Input rating:</strong>
  <%= @recirculation_water_heater.input_rating %>
</p>

<p>
  <strong>Energy factor:</strong>
  <%= @recirculation_water_heater.energy_factor %>
</p>

<p>
  <strong>Tank volume:</strong>
  <%= @recirculation_water_heater.tank_volume %>
</p>

<p>
  <strong>Tank interior insulation r value:</strong>
  <%= @recirculation_water_heater.tank_interior_insulation_r_value %>
</p>

<p>
  <strong>Tank exterior insulation r value:</strong>
  <%= @recirculation_water_heater.tank_exterior_insulation_r_value %>
</p>

<p>
  <strong>Ambient condition:</strong>
  <%= @recirculation_water_heater.ambient_condition %>
</p>

<p>
  <strong>Standby loss fraction:</strong>
  <%= @recirculation_water_heater.standby_loss_fraction %>
</p>

<p>
  <strong>Thermal efficiency:</strong>
  <%= @recirculation_water_heater.thermal_efficiency %>
</p>

<%= link_to 'Edit', edit_recirculation_water_heater_path(@recirculation_water_heater) %> |
<%= link_to 'Back', recirculation_water_heaters_path %>
