<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code_category %><br>
    <%= f.text_field :code_category %>
  </div>
  <div class="field">
    <%= f.label :code_item %><br>
    <%= f.text_field :code_item %>
  </div>
  <div class="field">
    <%= f.label :framing_material %><br>
    <%= f.text_field :framing_material %>
  </div>
  <div class="field">
    <%= f.label :framing_configuration %><br>
    <%= f.text_field :framing_configuration %>
  </div>
  <div class="field">
    <%= f.label :framing_depth %><br>
    <%= f.text_field :framing_depth %>
  </div>
  <div class="field">
    <%= f.label :cavity_insulation %><br>
    <%= f.text_field :cavity_insulation %>
  </div>
  <div class="field">
    <%= f.label :header_insulation %><br>
    <%= f.text_field :header_insulation %>
  </div>
  <div class="field">
    <%= f.label :cmu_weight %><br>
    <%= f.text_field :cmu_weight %>
  </div>
  <div class="field">
    <%= f.label :cmu_fill %><br>
    <%= f.text_field :cmu_fill %>
  </div>
  <div class="field">
    <%= f.label :spandrel_panel_insulation %><br>
    <%= f.text_field :spandrel_panel_insulation %>
  </div>
  <div class="field">
    <%= f.label :insulation_outside_waterproof_membrane %><br>
    <%= f.number_field :insulation_outside_waterproof_membrane %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
