<h1>Listing materials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code category</th>
      <th>Code item</th>
      <th>Framing material</th>
      <th>Framing configuration</th>
      <th>Framing depth</th>
      <th>Cavity insulation</th>
      <th>Header insulation</th>
      <th>Cmu weight</th>
      <th>Cmu fill</th>
      <th>Spandrel panel insulation</th>
      <th>Insulation outside waterproof membrane</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.name %></td>
        <td><%= material.code_category %></td>
        <td><%= material.code_item %></td>
        <td><%= material.framing_material %></td>
        <td><%= material.framing_configuration %></td>
        <td><%= material.framing_depth %></td>
        <td><%= material.cavity_insulation %></td>
        <td><%= material.header_insulation %></td>
        <td><%= material.cmu_weight %></td>
        <td><%= material.cmu_fill %></td>
        <td><%= material.spandrel_panel_insulation %></td>
        <td><%= material.insulation_outside_waterproof_membrane %></td>
        <td><%= link_to 'Show', material %></td>
        <td><%= link_to 'Edit', edit_material_path(material) %></td>
        <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material', new_material_path %>
