<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Code category:</strong>
  <%= @material.code_category %>
</p>

<p>
  <strong>Code item:</strong>
  <%= @material.code_item %>
</p>

<p>
  <strong>Framing material:</strong>
  <%= @material.framing_material %>
</p>

<p>
  <strong>Framing configuration:</strong>
  <%= @material.framing_configuration %>
</p>

<p>
  <strong>Framing depth:</strong>
  <%= @material.framing_depth %>
</p>

<p>
  <strong>Cavity insulation:</strong>
  <%= @material.cavity_insulation %>
</p>

<p>
  <strong>Header insulation:</strong>
  <%= @material.header_insulation %>
</p>

<p>
  <strong>Cmu weight:</strong>
  <%= @material.cmu_weight %>
</p>

<p>
  <strong>Cmu fill:</strong>
  <%= @material.cmu_fill %>
</p>

<p>
  <strong>Spandrel panel insulation:</strong>
  <%= @material.spandrel_panel_insulation %>
</p>

<p>
  <strong>Insulation outside waterproof membrane:</strong>
  <%= @material.insulation_outside_waterproof_membrane %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
