<%= form_for(@pump) do |f| %>
  <% if @pump.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pump.errors.count, "error") %> prohibited this pump from being saved:</h2>

      <ul>
      <% @pump.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :operation_control %><br>
    <%= f.text_field :operation_control %>
  </div>
  <div class="field">
    <%= f.label :speed_control %><br>
    <%= f.text_field :speed_control %>
  </div>
  <div class="field">
    <%= f.label :modeling_method %><br>
    <%= f.text_field :modeling_method %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.text_field :count %>
  </div>
  <div class="field">
    <%= f.label :flow_capacity %><br>
    <%= f.text_field :flow_capacity %>
  </div>
  <div class="field">
    <%= f.label :total_head %><br>
    <%= f.text_field :total_head %>
  </div>
  <div class="field">
    <%= f.label :flow_minimum %><br>
    <%= f.text_field :flow_minimum %>
  </div>
  <div class="field">
    <%= f.label :minimum_speed_ratio %><br>
    <%= f.text_field :minimum_speed_ratio %>
  </div>
  <div class="field">
    <%= f.label :motor_efficiency %><br>
    <%= f.text_field :motor_efficiency %>
  </div>
  <div class="field">
    <%= f.label :impeller_efficiency %><br>
    <%= f.text_field :impeller_efficiency %>
  </div>
  <div class="field">
    <%= f.label :motor_hp %><br>
    <%= f.text_field :motor_hp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
