<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <%= link_to 'T24 Compliance', root_path, class:'navbar-brand sitename' %>
      <ul class="nav navbar-nav">
        <% if user_signed_in? and current_user.has_role? :admin %><li<%= active_nav('Admin')%>><%= link_to 'Admin', admin_path %></li><% end %>
      </ul>

      <% if user_signed_in? %>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Sign out', logout_path %></li>
        </ul>
        <p class="navbar-text navbar-right">Welcome, <%= link_to current_user.email, user_path(current_user), class: "navbar-link" %></p>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign in", login_path %></li>
        </ul>
      <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>