<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>T24 Compliance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- TODO: add controller-specific javascripts -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="fluid-container pad-all-sm">
  <%= render 'layouts/nav' %>


  <div class="row-fluid header-row">
    <!-- notices -->
    <%= render 'layouts/flash_messages' if !flash.empty? %>
  </div>

  <%= yield %>

  </div>

</body>
</html>
