<!DOCTYPE html>
<html>
<head>
  <title>T24 Compliance</title>
  <!-- TODO: add controller-specific javascripts -->
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %><%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="fluid-container pad-all-sm">
  <%= render 'layouts/nav' %>


  <div class="row-fluid header-row">
    <!-- notices -->
    <%= render 'layouts/flash_messages' if !flash.empty? %>
  </div>

  <%= yield %>

  </div>

</body>
</html>
